// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray:    #9b9b9b !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $black !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Border
$border-color: #cccccc !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:     'Proxima-Nova-Regular', sans-serif!default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;


// font-weight
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

$font-proxima-black: 'Proxima-Nova-Black';
$font-proxima-bold: 'Proxima-Nova-Bold';
$font-proxima-extrabold: 'Proxima-Nova-Extrabold';
$font-proxima-light: 'Proxima-Nova-Light';
$font-proxima-medium: 'Proxima-Nova-Medium';
$font-proxima-semibold: 'Proxima-Nova-Semibold';
$font-proxima-thin: 'Proxima-Nova-Thin';
$font-proxima-regular: 'Proxima-Nova-Regular';

$font-medium: $font-proxima-medium;
$font-regular: $font-proxima-regular;
$font-bold: $font-proxima-bold;
$font-light: $font-proxima-light;

// font-size
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

//header
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: $font-proxima-bold
}


//font-size
.font-220{ font-size: 220px; }
.font-180{ font-size: 180px; }
.font-120{ font-size: 120px; }
.font-100{ font-size: 100px; }
.font-80{ font-size: 80px; }
.font-70{ font-size: 70px; }
.font-60{ font-size: 60px; }
.font-56{ font-size: 56px; }
.font-50{ font-size: 50px; }
.font-48{ font-size: 48px; }
.font-45{ font-size: 45px; }
.font-40{ font-size: 40px; }
.font-38{ font-size: 38px; }
.font-35{ font-size: 35px; }
.font-34{ font-size: 34px; }
.font-30{ font-size: 30px; }
.font-28{ font-size: 28px; }
.font-25{ font-size: 25px; }
.font-24{ font-size: 24px; }
.font-22{ font-size: 22px; }
.font-20{ font-size: 20px; }
.font-19{ font-size: 19px; }
.font-18{ font-size: 18px; }
.font-17{ font-size: 17px; }
.font-16{ font-size: 16px; }
.font-15{ font-size: 15px; }
.font-14{ font-size: 14px; }
.font-12{ font-size: 12px; }
.font-10{ font-size: 10px; }

p {font-size: 18px}

//button
.btn {
  font-family: $font-proxima-bold;
  border-radius: 0 !important;
  font-weight: bold !important;
  border: 1.5px solid ;
  text-transform: uppercase;
  &:focus{
    box-shadow: none !important;
    outline: 0 !important;
  }
}

.btn-outline-light {
  color: $white;
  border-color: $white;
  border: 1.5px solid!important;
  padding: 0.8rem 3.75rem!important;
  border:1.5px solid $white;
  &:hover{
      background-color: $white;
      color: $primary;
      border:1.5px solid $primary !important;
  }
}

.custom-control-input:checked~.custom-control-label::before{
    color: #000;
    background-color: #fff !important;
    background-size: contain;
    border:none;
    // background-image: url('../img/icons/Checkbox/Tick.svg');
    // background-image: url(../img/icons/Checkbox/Tick.svg);
    background-image: url('/assets/microsites/offstage/img/icons/Checkbox/Tick.svg');
    outline: 0;

}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
  background-image: none;
  background-color: #000 !important;
  border:1px solid #000;
}
