* {
    &:focus {
        outline: 0 !important
    }
}

.hidden-scrollbar {
    -ms-overflow-style: none !important; 
    
    
    &::-webkit-scrollbar {
        display: none !important;
        width:0;
    }
  }

.set-fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
}


.no-scroll {
    position: relative;
    overflow: hidden;
}


.replace-scrollbar {
    padding-right: 8px;
    overflow: hidden;
}