* {
    &:focus {
        outline: 0 !important
    }
}

.hidden-scrollbar {
    -ms-overflow-style: none; 
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.set-fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
}


.no-scroll {
    position: relative;
    overflow: hidden;
}
