@include media-breakpoint-up(lg) {
    .sticky-footer {
        position: fixed;
        bottom: 0;
    }    
}

.data-protect{
    color:#fff;

    &:hover{
        color:rgb(228, 225, 225);
    }
} 

.sticky-footer-mobile {
    background: #000;
    position: fixed;
    bottom: 0;
    z-index: 10000;    
}

.cursor-pointer {
    cursor: pointer;
}

footer {
    position: relative;
}

.bot-footer {
    // position: absolute;
    bottom: -12px;
    width: 100%;
}