@include media-breakpoint-up(md) {
    .sticky-footer {
        position: fixed;
        bottom: 0;
    }    
}

.data-protect{
    color:#fff;

    &:hover{
        color:rgb(228, 225, 225);
    }
} 
