//Customise slick dots
.slick-dots {
  li {
    button {
      width: 10px !important;
      height: 10px !important;

      &:before {
        width: 10px !important;
        height: 10px !important;
        line-height: 10px !important;
        content: " " !important;
        opacity: 1 !important;
        border: 1px solid $primary;
      }
    }
  }

  .slick-active {
    button {
      &:before {
        background: $primary !important;
      }
    }
  }
}

//arrow
.banner-navigation {
  display: flex;
}

.custom-btn {
  border: 0;
  background: none;
  padding: 3px 5px 0 5px;

  img.cus-control {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: none;
  }

  .cust-icon {
    background-color: transparent;
    border-radius: 100%;
    width: 37px;
    font-weight: bold;
    height: 37px;
    font-size: 15px;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//*** DO NOT REMOVE IMPORTANT OR IT WILL EFFECT ON HOMEPAGE BANNER **//
.banner-navigation {
  .arrow-black {
    color: $primary;
    border-color: $primary;
    border: 1.5px solid !important;
    border: 1.5px solid $primary;
    text-decoration: none;
    &:hover {
      background-color: $primary;
      color: $white !important;
      border: 1.5px solid $primary !important;
      border-color: $primary !important;
      box-shadow: inset 450px 0 0 0 $primary;
      transition: all 0.25s ease-in;
      text-decoration: none;
    }
  }
  .arrow-light {
    color: $white;
    border-color: $white;
    border: 1.5px solid !important;
    border: 1.5px solid $white;
    text-decoration: none;

    &:hover {
      background-color: $white;
      color: $primary;
      border: 1.5px solid $white !important;
      border-color: $white !important;
      box-shadow: inset 450px 0 0 0 $white;
      transition: all 0.25s ease-in;
      text-decoration: none;
    }
  }
}

// .next-slide,
// .prev-slide {
//   &:hover {
//     .arrow-black {
//       background-color: $primary;
//       color: $white;
//       transition: all 0.25s ease-in;
//       border: 2px solid $primary;
//     }

//     .arrow-light {
//       background-color: $white;
//       color: $primary;
//       transition: all 0.25s ease-in;
//       border: 2px solid $white;
//     }
//   }
// }
