//Customise slick dots
.slick-dots {
    li {
        button {
            width: 10px !important;
            height: 10px !important;

            &:before {
                width: 10px !important;
                height: 10px !important;
                line-height: 10px !important;
                content: " " !important;
                opacity: 1 !important;
                border: 1px solid $primary
            }
        }
    }

    .slick-active {
        button {
            &:before {
                background: $primary !important;
            }
        }
    }
}