// Default padding & margin

// Padding
.p-25 {
  padding: 25px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.p-50 {
  padding: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

// MD view 
.px-md-25 {
  @media(min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.py-md-25 {
  @media(min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.pt-md-25 {
  @media(min-width: 768px) {
    padding-top: 25px;
  }
}

.pb-md-25 {
  @media(min-width: 768px) {
    padding-bottom: 25px;
  }
}

.pl-md-25 {
  @media(min-width: 768px) {
    padding-left: 25px;
  }
}

.pr-md-25 {
  @media(min-width: 768px) {
    padding-right: 25px;
  }
}

.p-md-50 {
  @media(min-width: 768px) {
    padding: 50px;
  }
}

.px-md-50 {
  @media(min-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.py-md-50 {
  @media(min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.pt-md-50 {
  @media(min-width: 768px) {
    padding-top: 50px;
  }
}

.pb-md-50 {
  @media(min-width: 768px) {
    padding-bottom: 50px;
  }
}

.pl-md-50 {
  @media(min-width: 768px) {
    padding-left: 50px;
  }
}

.pr-md-50 {
  @media(min-width: 768px) {
    padding-right: 50px;
  }
}

// Margin
.m-25 {
  margin: 25px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.m-50 {
  margin: 50px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

// MD View 
.m-md-25 {
  @media (min-width: 768px){
    margin: 25px;
  }
}

.mx-md-25 {
  @media (min-width: 768px){
    margin-left: 25px;
    margin-right: 25px;
  }
}

.my-md-25 {
  @media (min-width: 768px){
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.mt-md-25 {
  @media (min-width: 768px){
    margin-top: 25px;
  }
}

.mb-md-25 {
  @media (min-width: 768px){
    margin-bottom: 25px;
  }
}

.ml-md-25 {
  @media (min-width: 768px){
    margin-left: 25px;
  }
}

.mr-md-25 {
  @media (min-width: 768px){
    margin-right: 25px;
  }
}

.m-md-50 {
  @media (min-width: 768px){
    margin: 50px;
  }
}

.mx-md-50 {
  @media (min-width: 768px){
    margin-left: 50px;
    margin-right: 50px;
  }
}

.my-md-50 {
  @media (min-width: 768px){
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.mt-md-50 {
  @media (min-width: 768px){
    margin-top: 50px;
  }
}

.mb-md-50 {
  @media (min-width: 768px){
    margin-bottom: 50px;
  }
}

.ml-md-50 {
  @media (min-width: 768px){
    margin-left: 50px;
  }
}

.mr-md-50 {
  @media (min-width: 768px){
    margin-right: 50px;
  }
}

