.throbber-wrap
    .logo-offstg.text-center.d-flex.justify-content-center
        //- img.logo.py-3.pr-3(src="./assets/microsites/offstage/img/logo/Black/Esplanade.svg")
        //- img.logo.py-3(src="./assets/microsites/offstage/img/logo/Black/Offstage.svg")
        img.load-gif.py-3(src="./assets/microsites/offstage/img/gif/op2.gif")

    .throbber
    