.to-onstage-container
    .row
        .col-12.col-md-6.mx-auto.my-auto
            .d-flex.justify-content-center.justify-content-md-end.pt-50
                p.loading-message.p-3 Redirecting you to Onstage 
        .col-12.col-md-6.my-auto.text-left   
            .d-flex.justify-content-center.justify-content-md-start
                img.to-offstage-icon(src="/assets/microsites/offstage/img/gif/op3.gif")