.to-offstage-container
    .row
        .col-12.col-md-6.mx-auto.my-auto
            .d-block.d-md-flex.justify-content-center.justify-content-md-end
                p.loading-message.px-25.m-auto.text-center.bt-1.h-100 Redirecting you to OffStage 
                img.px-25.px-md-0.my-auto.to-offstage-icon(src="/assets/microsites/offstage/img/gif/op2.gif")