.accordion#accordionExample
    .card   
        a(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 
            .card-header#headingOne.d-flex.align-items-center.justify-content-between.bg-white.border-0
                div
                    p Written by:
                    h5.mb-0 Author's Name
                .icon.icon-plus
                    
        #collapseOne.collapse.show(aria-labelledby="headingOne" data-parent="#accordionExample")
            .card-body.pr-5 
                p.m-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui reiciendis sapiente, nostrum eum excepturi maxime delectus quam asperiores! Aliquam natus cupiditate omnis recusandae eius voluptate esse voluptatum incidunt eaque! Suscipit!

        hr.m-0.my-4(style="width: 60px; border-top: 4px solid black")


    .card   
        a(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") 
            .card-header#headingOne.d-flex.align-items-center.justify-content-between.bg-white.border-0
                div
                    p Acknowledgements:
                    h5.mb-0 Contributor's Name
                .icon.icon-plus

        #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
            .card-body.pr-5 
                p.m-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui reiciendis sapiente, nostrum eum excepturi maxime delectus quam asperiores! Aliquam natus cupiditate omnis recusandae eius voluptate esse voluptatum incidunt eaque! Suscipit!

        hr.m-0.my-4(style="width: 60px; border-top: 4px solid black")