.banner-content(v-bind-class='banner.Content.ContentPosition')
    h1.title-banner.clamp-3(v-line-clamp:20="3" data-clamp="3") {{banner.Content.Title}}
    p.description.mt-2.clamp-2(v-line-clamp:20="2" data-clamp="2" v-bind:style="{color: banner.Content.Colour}") {{banner.subTitle}}
    a.btn.btn-carousel.btn-outline-light.mt-2(:href='banner.pageUrl') FIND OUT MORE
    .banner-navigation.mt-md-5.mt-4
        .arrows-wrapper
            button.btn.prev-slide.custom-btn
                span.icon.esplanade-icon-Previous.cust-icon.arrow-light
                //- img.cus-control.a-left.control-c.prev.slick-prev.h-25(src='./assets/microsites/offstage/img/icons/Left-White.svg')
            button.btn.next-slide.custom-btn
                span.icon.esplanade-icon-Next.cust-icon.arrow-black
        p.slide-count-wrap(v-bind:style="{color: banner.Content.Colour}") {{banner.Index}} / {{totalBanners}}
