.card
    a(:href='filter.Url').position-relative
        .position-absolute.w-100
            .icon-holder.bg-white.d-flex.float-right.align-items-center.justify-content-center.m-3
                img.icon(:src='filter.ContentType.Icon' alt="")

        img.card-img-top(:src='filter.Thumbnail')
    
        .border.border-top-0.text-left.position-relative 
            span.card-label.p-1.px-3.bg-primary.text-white.font-12.text-uppercase.position-absolute {{filter.ContentType.Value}}

            .card-body.text-center.pt-5
                div
                    span.genre-title.px-2.card-text.font-16.font-weight-bold.text-uppercase(v-for="genre in filter.Genres") {{genre}}

                .card-title.text-primary.m-0
                    h5.font-weight-bolder.m-0.font-22(v-line-clamp:20="3") {{filter.Title}}

                p.card-text.font-18(v-line-clamp:20="2") {{filter.Description}}
