.tab-sliders
    .wrap.px-1
        ul.nav.nav-tabs#menus(role="tablist")
            li.list-act
                a.nav-link.active(data-toggle="tab" role="tab" aria-controls="explorethearts" aria-selected="true" id="explorethearts" @click="filterCategory('explorethearts')") Explore The Atrs
            li.list-act
                a.nav-link(data-toggle="tab" role="tab" aria-controls="knowtheartists" aria-selected="true" id="knowtheartists" @click="filterCategory('knowtheartists')") Know the artist
            //- li.list-act
            //-     a.nav-link(data-toggle="tab" role="tab" aria-controls="knowtheartist" aria-selected="true" id="third" @click="filterCategory()") Know the artist
            //- li.list-act
            //-     a.nav-link(data-toggle="tab" role="tab" aria-controls="knowtheartist" aria-selected="true" id="forth" @click="filterCategory()") Know the artist
            
    //- button#goPrev.btn.btn-default.btn-icon.pr-2.back(type="button")
    //-     img.left-prev(src="./assets/microsites/offstage/img/icons/Previous.svg")
    //- button#goNext.btn.btn-default.btn-icon.pl-1(type="button")
    //-     img.next-right(src="./assets/microsites/offstage/img/icons/Next.svg")

