.tab-sliders
    .wrap.px-1
        ul.nav.nav-tabs#menus(role="tablist")
            li.list-act
                a.nav-link.active(data-toggle="tab" role="tab" aria-controls="knowtheartist" aria-selected="true" id="3a839938a10b4e7cac31db2fbf3ec186" @click="filterCategory('3a839938a10b4e7cac31db2fbf3ec186')") Explore The Atrs
            li.list-act
                a.nav-link(data-toggle="tab" role="tab" aria-controls="knowtheartist" aria-selected="true" id="7f46193dc9c44e1692dfceb6c0624173" @click="filterCategory('7f46193dc9c44e1692dfceb6c0624173')") Know the artist
            //- li.list-act
            //-     a.nav-link(data-toggle="tab" role="tab" aria-controls="knowtheartist" aria-selected="true" id="third" @click="filterCategory()") Know the artist
            //- li.list-act
            //-     a.nav-link(data-toggle="tab" role="tab" aria-controls="knowtheartist" aria-selected="true" id="forth" @click="filterCategory()") Know the artist
            
    button#goPrev.btn.btn-default.btn-icon.pr-2.back(type="button")
        img.left-prev(src="./assets/microsites/offstage/img/icons/Previous.svg")
    button#goNext.btn.btn-default.btn-icon.pl-1(type="button")
        img.next-right(src="./assets/microsites/offstage/img/icons/Next.svg")

