//- Three content
.accordion
    .card   
        a(data-toggle="collapse" data-target="#comparisonOne" aria-expanded="true" aria-controls="comparisonOne") 
            .card-header#headingOne.d-flex.align-items-center.justify-content-between.bg-white.border-0.py-25
                .card-content
                    h3.title.m-0 An old soul in a young body 
                .icon.icon-plus
                    
        #comparisonOne.collapse
            .card-body.pt-0
                .row.pt-md-3
                    .col-12.col-md-4.py-25.py-md-0
                        .avatar-wrapper.d-flex.align-items-center.pb-3
                            .avatar(style="background: url('https://bloody-disgusting.com/wp-content/uploads/2017/08/cult-of-chucky-.jpg')")  
                            p.bt-1.custom-title.m-0.pl-3 Buddie 1
                        p.bt-1.m-0 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vel explicabo minima vero repudiandae id pariatur cum voluptates Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tenetur sit fugit? Repellat repudiandae voluptatem ducimus accusamus explicabo eaque facilis illum, iusto nulla iure est, placeat deserunt non aliquid? Magni!
                    .col-12.col-md-4.py-25.py-md-0
                        .avatar-wrapper.d-flex.align-items-center.pb-3
                            .avatar(style="background: url('https://bloody-disgusting.com/wp-content/uploads/2017/08/cult-of-chucky-.jpg')")  
                            p.bt-1.custom-title.m-0.pl-3 Buddie 2                        
                        p.bt-1.m-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tenetur sit fugit? Repellat repudiandae voluptatem ducimus accusamus explicabo eaque facilis illum, iusto nulla iure est, placeat deserunt non aliquid? Magni!         
                    .col-12.col-md-4.py-25.py-md-0
                        .avatar-wrapper.d-flex.align-items-center.pb-3
                            .avatar(style="background: url('https://bloody-disgusting.com/wp-content/uploads/2017/08/cult-of-chucky-.jpg')")  
                            p.bt-1.custom-title.m-0.pl-3 Buddie 3
                        p.bt-1.m-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tenetur sit fugit? Repellat repudiandae voluptatem ducimus accusamus explicabo eaque facilis illum, iusto nulla iure est, placeat deserunt non aliquid? Magni!        
            
        hr.m-0.my-4

//- Two content
.accordion
    .card   
        a(data-toggle="collapse" data-target="#comparisonTwo" aria-expanded="true" aria-controls="comparisonTwo") 
            .card-header#headingTwo.d-flex.align-items-center.justify-content-between.bg-white.border-0.py-25
                .card-content
                    h3.title.m-0 They gave classical ballet its visual identity 
                .icon.icon-plus

        #comparisonTwo.collapse
            .card-body.pt-0
                .row.pt-md-3
                    .col-12.col-md-4.py-25.py-md-0
                        .avatar-wrapper.d-flex.align-items-center.pb-3
                            .avatar(style="background: url('https://bloody-disgusting.com/wp-content/uploads/2017/08/cult-of-chucky-.jpg')")  
                            p.bt-1.custom-title.m-0.pl-3 Buddie 1
                        p.bt-1.m-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tenetur sit fugit? Repellat repudiandae voluptatem ducimus accusamus explicabo eaque facilis illum, iusto nulla iure est, placeat deserunt non aliquid? Magni!
                    .col-12.col-md-4.py-25.py-md-0
                        .avatar-wrapper.d-flex.align-items-center.pb-3
                            .avatar(style="background: url('https://bloody-disgusting.com/wp-content/uploads/2017/08/cult-of-chucky-.jpg')")  
                            p.bt-1.custom-title.m-0.pl-3 Buddie 2                        
                        p.bt-1.m-0 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, ipsum quis explicabo doloribus nemo beatae molestiae, totam voluptatum maiores quasi quisquam provident! Libero delectus iusto commodi cumque, nostrum corrupti nam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tenetur sit fugit? Repellat repudiandae voluptatem ducimus accusamus explicabo eaque facilis illum, iusto nulla iure est, placeat deserunt non aliquid? Magni!         
                    .col-12.col-md-4.py-25.py-md-0.d-none.d-md-block
                        .avatar-wrapper.d-flex.align-items-center.pb-3
                            .avatar(style="background: url('')")  
                            p.bt-1.custom-title.m-0.pl-3 
                        p.bt-1.m-0          

        hr.m-0.my-4