.filter-menu-wrapper
    button.close-filter
        img.close-icon(src="./assets/microsites/offstage/img/icons/Close.svg")
    
    .fm-content.mt-5
        #filter-menu-content-explorethearts.filter-menu-content
            p.menu-text BROWSE BY:

            .fm-content-item.mb-4
                //- .browse-by.custom-checkkbox.custom-control
                //-     input.custom-control-input(type="checkbox" data-key="12123" id="11223")
                //-     label.custom-control-label(for="forEveryone") FOR EVERYONE
                
                .browse-by.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="123" id="123" )
                    label.custom-control-label(for="123") FOR PARENTS
                .browse-by.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="456" id="forParents")
                    label.custom-control-label(for="forParents") FOR PARENTS

                .browse-by.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="789" id="forKids")
                    label.custom-control-label(for="forKids") FOR KIDS


            p.menu-text CONTENT TYPES:

            .fm-content-item.mb-4
                .content-types.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="www" id="watch")
                    label.custom-control-label(for="watch") WATCH

                .content-types.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="rrr" id="read")
                    label.custom-control-label(for="read") READ

                .content-types.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="lll" id="listen")
                    label.custom-control-label(for="listen") LISTEN
                

            p.menu-text SORT BY:
                
            .fm-content-item.mb-4
                .sort-by.custom-radio.custom-control
                    input.custom-control-input(type="radio" value="latest" name="sort-eta" id="eta-mostRecent" data-key="eta-recent" checked)
                    label.custom-control-label.custom-radio-label(for="mostRecent") MOST RECENT
                .sort-by.custom-radio.custom-control
                    input.custom-control-input(type="radio" value="trending" name="sort-eta" id="trending")
                    label.custom-control-label.custom-radio-label(for="trending") TRENDING


            p.menu-text TIME TAKEN:

            .fm-content-item.mb-4
                .time-taken.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" id="five-min" data-key="five-min")
                    label.custom-control-label(for="five-min") < 5 MINUTES

                .time-taken.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" id="ten-min" data-key="ten-min")
                    label.custom-control-label(for="ten-min") 10 MINUTES

                .time-taken.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" id="fifteen-min" data-key="fifteen-min")
                    label.custom-control-label(for="fifteen-min") > 15 MINUTES


        #filter-menu-content-knowtheartists.filter-menu-content.d-none
            p.menu-text BROWSE BY:

            .fm-content-item.mb-4
                .browse-by.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="1234" id="1234" )
                    label.custom-control-label(for="1234") FOR PARENTS
                .browse-by.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="4567" id="forParents1")
                    label.custom-control-label(for="forParents1") FOR PARENTS

                .browse-by.custom-checkkbox.custom-control
                    input.custom-control-input(type="checkbox" data-key="78910" id="forKids2")
                    label.custom-control-label(for="forKids2") FOR KIDS

            p.menu-text SORT BY:
                
            .fm-content-item.mb-4
                .sort-by.custom-radio.custom-control
                    input.custom-control-input(type="radio" value="latest" name="sort-kta" id="mostRecent2" checked)
                    label.custom-control-label.custom-radio-label(for="mostRecent2") MOST RECENT
                .sort-by.custom-radio.custom-control
                    input.custom-control-input(type="radio" value="trending" name="sort-kta" id="trending2")
                    label.custom-control-label.custom-radio-label(for="trending2") TRENDING


        div.mb-4.mx-auto.px-3
            button(@click="applyFilter()").submit-filter.btn.btn-outline-primary Apply Filter
            
