#funFact
    .fun-fact-wrapper
        .fun-fact-title.d-flex.justify-content-start.align-items-center
            .img-wrapper.d-flex.justify-content-center.align-items-center
                img.icon.icon-funfact(src="./assets/microsites/offstage/img/icons/Download.svg")
            .text-wrapper
                h3.text-transform-none title GHOST here
