#funFact
    .fun-fact-wrapper
        .fun-fact-title.d-flex.justify-content-start.align-items-center
            .img-wrapper.mr-3.d-flex.justify-content-center.align-items-center
                img.icon.icon-funfact(src="./assets/microsites/offstage/img/icons/Time_3.svg")
            .text-wrapper.ml-3
                h3.text-transform-none title GHOST here 

        .fun-fact-content
            .body-wrapper.pt-25
                p.bt-1.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo lacus vel lorem interdum sodales. Maecenas vel erat quis risus vulputate maximus sit amet ac mi. Nunc nec elementum nulla. <br>Aliquam mattis urna ut justo varius tincidunt. Quisque facilisis ipsum accumsan ultrices dignissim. Vestibulum lacinia molestie odio, ut posuere nulla. Donec non tempor lectus. <br>Praesent efficitur mollis tortor sit amet faucibus. Ut in facilisis justo. Nullam id scelerisque nisl, ac dignissim nisl. Etiam venenatis hendrerit est. Donec posuere ac dui vel ultricies. Curabitur ut metus id eros ullamcorper luctus. Suspendisse vitae arcu dapibus, tincidunt odio non, efficitur justo.
