.pn-ProductNav_Wrapper
    nav#pnProductNav.pn-ProductNav
        #pnProductNavContents.pn-ProductNav_Contents
            a(href='#' v-for="genre in genres" :data-key="genre.key" :aria-selected='genre.selected' @click="filterGenre(genre.key)").pn-ProductNav_Link {{genre.name}}
            span#pnIndicator.pn-ProductNav_Indicator
    button(type="button")#pnAdvancerLeft.pn-Advancer.pn-Advancer_Left.px-3
        img(src="./assets/microsites/offstage/img/icons/Previous.svg")

    button(type="button")#pnAdvancerRight.pn-Advancer.pn-Advancer_Right.px-3
        img(src="./assets/microsites/offstage/img/icons/Next.svg")
