.pn-ProductNav_Wrapper
    nav#pnProductNav.pn-ProductNav
        #pnProductNavContents.pn-ProductNav_Contents
            a(href='#' aria-selected="true").pn-ProductNav_Link All
            a(href='#').pn-ProductNav_Link MUSIC
            a(href='#').pn-ProductNav_Link DANCE
            a(href='#').pn-ProductNav_Link THEATRE
            a(href='#').pn-ProductNav_Link VISUAL ARTS
            a(href='#').pn-ProductNav_Link LITERARY ARTS
            a(href='#').pn-ProductNav_Link MUSIC
            a(href='#').pn-ProductNav_Link DANCE
            a(href='#').pn-ProductNav_Link THEATRE
            a(href='#').pn-ProductNav_Link VISUAL ARTS
            a(href='#').pn-ProductNav_Link LITERARY ARTS
            span#pnIndicator.pn-ProductNav_Indicator
    button(type="button")#pnAdvancerLeft.pn-Advancer.pn-Advancer_Left.px-3.bg-white
        img(src="./assets/img/icons/Previous.svg")

    button(type="button")#pnAdvancerRight.pn-Advancer.pn-Advancer_Right.px-3.bg-white
        img(src="./assets/img/icons/Next.svg")
