.pn-ProductNav_Wrapper
    nav#pnProductNav.pn-ProductNav
        #pnProductNavContents.pn-ProductNav_Contents
            a(href='#' aria-selected="true" data-key="").tab-nav.pn-ProductNav_Link All
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link MUSIC
            a(href='#' data-key="c2d0c74006944fcba8ede105fb464855").filter-genre.tab-nav.pn-ProductNav_Link DANCE
            a(href='#' data-key="6a128c44814a475591e5a2041f2630b8").tab-nav.pn-ProductNav_Link THEATRE
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link VISUAL ARTS
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link LITERARY ARTS
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link MUSIC
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link DANCE
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link THEATRE
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link VISUAL ARTS
            a(href='#' data-key="").tab-nav.pn-ProductNav_Link LITERARY ARTS
            span#pnIndicator.pn-ProductNav_Indicator
    button(type="button")#pnAdvancerLeft.pn-Advancer.pn-Advancer_Left.px-3.bg-white
        img(src="./assets/microsites/offstage/img/icons/Previous.svg")

    button(type="button")#pnAdvancerRight.pn-Advancer.pn-Advancer_Right.px-3.bg-white
        img(src="./assets/microsites/offstage/img/icons/Next.svg")
