.genre-tabs.pr-3.pr-md-0
    .wrapper
        ul.nav.nav-tabs#genreTabs(role= "tablist")
            li.genre-list
                a.nav-link.active(data-toggle="tab" role="tab" aria-controls="all" aria-selected="true" id="all" @click="filterGenre('all')") All
            li.genre-list
                a.nav-link(data-toggle="tab" role="tab" aria-controls="music" aria-selected="true" id="music" @click="filterGenre('music')") Music
            li.genre-list
                a.nav-link(data-toggle="tab" role="tab" aria-controls="dance" aria-selected="true" id="dance" @click="filterGenre('dance')") Dance
            li.genre-list
                a.nav-link(data-toggle="tab" role="tab" aria-controls="theatre" aria-selected="true" id="theatre" @click="filterGenre('theatre')") Theatre
            li.genre-list
                a.nav-link(data-toggle="tab" role="tab" aria-controls="visualarts" aria-selected="true" id="visualarts" @click="filterGenre('visualarts')") Visual Arts
            li.genre-list
                a.nav-link(data-toggle="tab" role="tab" aria-controls="literaryarts" aria-selected="true" id="literaryarts" @click="filterGenre('literaryarts')") Literary Arts
    button#goBack.btn.btn-default.btn-icon.prev(type="button")
        img.left-prev(src="./assets/microsites/offstage/img/icons/Previous.svg")
    button#goAfter.btn.btn-default.btn-icon(type="button")
        img.next-right(src="./assets/microsites/offstage/img/icons/Next.svg")

