.pn-ProductNav_Wrapper
    nav#pnProductNav.pn-ProductNav
        #pnProductNavContents.pn-ProductNav_Contents
            a(href='#' aria-selected="true" data-key="").pn-ProductNav_Link All
            a(href='#' data-key="").pn-ProductNav_Link MUSIC
            a(href='#' data-key="").pn-ProductNav_Link DANCE
            a(href='#' data-key="").pn-ProductNav_Link THEATRE
            a(href='#' data-key="").pn-ProductNav_Link VISUAL ARTS
            a(href='#' data-key="").pn-ProductNav_Link LITERARY ARTS
            a(href='#' data-key="").pn-ProductNav_Link MUSIC
            a(href='#' data-key="").pn-ProductNav_Link DANCE
            a(href='#' data-key="").pn-ProductNav_Link THEATRE
            a(href='#' data-key="").pn-ProductNav_Link VISUAL ARTS
            a(href='#' data-key="").pn-ProductNav_Link LITERARY ARTS
            span#pnIndicator.pn-ProductNav_Indicator
    button(type="button")#pnAdvancerLeft.pn-Advancer.pn-Advancer_Left.d-none.d-lg-block
        img(src="./assets/img/icons/Previous.svg")

    button(type="button")#pnAdvancerRight.pn-Advancer.pn-Advancer_Right.d-none.d-lg-block
        img(src="./assets/img/icons/Next.svg")
