h1.pb-25.font-weight-bolder.text-uppercase Image Gallery

.image-gallery
    .gallery-img
        a(href="https://previews.123rf.com/images/marisha5/marisha51507/marisha5150700762/41823193-beautiful-forest-landscape-in-the-morning.jpg" data-fancybox="gallery" data-caption="Caption 1")
            img(src="https://previews.123rf.com/images/marisha5/marisha51507/marisha5150700762/41823193-beautiful-forest-landscape-in-the-morning.jpg" alt="")
    .gallery-img
        a(href="http://creoflick.net/images/Forest-Landscape-11967.jpg" data-fancybox="gallery" data-caption="Caption 2")
            img(src="http://creoflick.net/images/Forest-Landscape-11967.jpg" alt="")
    .gallery-img
        a(href="https://cdn.fstoppers.com/styles/full/s3/media/2018/07/28/mt._fuji_day_1_1_of_59.jpg" data-fancybox="gallery" data-caption="Caption 2")
            img(src="https://cdn.fstoppers.com/styles/full/s3/media/2018/07/28/mt._fuji_day_1_1_of_59.jpg" alt="")       