.d-flex.pb-25.justify-content-between.align-items-center
    h1.m-0.font-weight-bolder.text-uppercase Image Gallery

    .d-md-flex.align-items-center.d-none
        p.pr-25.m-0.slide-count-wrap 1 / 3
        .banner-navigation
            .arrows-wrapper
                button.btn.prev-slide.custom-btn
                    span.icon.esplanade-icon-Previous.cust-icon.arrow-black
                button.btn.next-slide.custom-btn
                    span.icon.esplanade-icon-Next.cust-icon.arrow-black    

.image-gallery
    .image-gallery-item
        a(href="https://via.placeholder.com/948x572" data-fancybox="gallery" data-caption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, cum vel est velit ratione eaque eligendi eveniet corrupti deserunt, voluptates eos asperiores nisi sint modi repellendus minima doloribus odio illo? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, cum vel est velit ratione eaque eligendi eveniet corrupti deserunt, voluptates eos asperiores nisi sint modi repellendus minima doloribus odio illo?").float-right
            //- img(src='./assets/microsites/offstage/img/icons/Expand.svg').expand 
            .expand-wrapper.mr-3.mt-2.m-md-0.mr-md-2
                .icon.esplanade-icon-Expand.expand-icon
        .gallery-img(style="background-image: url('https://via.placeholder.com/948x572')")
        p.pt-25.bt-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, cum vel est velit ratione eaque eligendi eveniet corrupti deserunt, voluptates eos asperiores nisi sint modi repellendus minima doloribus odio illo? 

    .image-gallery-item
        a(href="http://creoflick.net/images/Forest-Landscape-11967.jpg" data-fancybox="gallery" data-caption="Caption 2").float-right
            .expand-wrapper.mr-3.mt-2.m-md-0.mr-md-2
                .icon.esplanade-icon-Expand.expand-icon
        .gallery-img(style="background-image: url('http://creoflick.net/images/Forest-Landscape-11967.jpg')")
        p.pt-25.bt-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, cum vel est velit ratione eaque eligendi eveniet corrupti deserunt, voluptates eos asperiores nisi sint modi repellendus minima doloribus odio illo? 

    .image-gallery-item
        a(href="https://cdn.fstoppers.com/styles/full/s3/media/2018/07/28/mt._fuji_day_1_1_of_59.jpg" data-fancybox="gallery" data-caption="Caption 3").float-right
            .expand-wrapper.mr-3.mt-2.m-md-0.mr-md-2
                .icon.esplanade-icon-Expand.expand-icon
        .gallery-img(style="background-image: url('https://cdn.fstoppers.com/styles/full/s3/media/2018/07/28/mt._fuji_day_1_1_of_59.jpg')")
        p.pt-25.bt-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, cum vel est velit ratione eaque eligendi eveniet corrupti deserunt, voluptates eos asperiores nisi sint modi repellendus minima doloribus odio illo?



.d-flex.justify-content-between.align-items-center.d-md-none.py-25 
    p.pr-25.m-0.slide-count-wrap 1 / 3
    .banner-navigation
        .arrows-wrapper
            button.btn.prev-slide.custom-btn
                span.icon.esplanade-icon-Previous.cust-icon.arrow-black
            button.btn.next-slide.custom-btn
                span.icon.esplanade-icon-Next.cust-icon.arrow-black   