.row.px-md-5.py-25
    .col-12.pb-4 
        h1.font-weight-bolder.text-uppercase In the series: Routes of asian music 

    each card in [1, 2]
        .card-tile.col-12.col-md-6.pb-4
            a.hyperlink-custom(href="")
                .container-fluid
                    .row
                        .col-5.series-thumbnail.p-0
                                img(src="https://via.placeholder.com/250x150")
                        .col-7.py-0.py-md-4.bg-white.d-flex.align-items-center
                            h5.m-0.clamp-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum fuga reiciendis odio laborum blanditiis soluta deleniti, modi porro unde obcaecati expedita delectus ratione iure veritatis repudiandae et? Repudiandae, rem.
                        
    each moreCards in [1, 2, 3, 4, 5]
        .card-tile.col-12.col-md-6
            .collapse.multi-collapse
                a.hyperlink-custom(href="")
                    .container-fluid
                        .row.pb-4
                            .col-5.series-thumbnail.p-0
                                img(src="https://via.placeholder.com/250x150")

                            .col-7.py-0.py-md-4.bg-white.d-flex.align-items-center
                                h5.m-0.clamp-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum fuga reiciendis odio laborum blanditiis soluta deleniti, modi porro unde obcaecati expedita delectus ratione iure veritatis repudiandae et? Repudiandae, rem.


    .col-12.pt-3.d-flex.justify-content-center
        button.btn.btn-outline-primary(type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false") View All
