#slide-down.mm-wrapper
    a.close-btn-x
        img.close-icon(src="./assets/microsites/offstage/img/icons/Close.svg")
    .mm-content
        
        a(href="")
            p.menu-text.font-16.font-weight-bold.pl-3 EXPLORE THE ARTS

        .mm-content-item
            ul.nav.d-block
                li.nav-item.active
                    a.nav-link.megamenu-genre(href="#") ALL
                li.nav-item 
                    a.nav-link.megamenu-genre(href="#") MUSIC
                li.nav-item 
                    a.nav-link.megamenu-genre(href="#") DANCE
                li.nav-item 
                    a.nav-link.megamenu-genre(href="#") THEATRE
                li.nav-item 
                    a.nav-link.megamenu-genre(href="#") VISUAL ARTS
                li.nav-item 
                    a.nav-link.megamenu-genre(href="#") LITERARY ARTS
                li.nav-item
                    a.nav-link.megamenu-genre(href="#") FILM
                li.nav-item.mb-3
                    a.nav-link.megamenu-genre(href="#") GUIDES
       
        a(href="")
            p.menu-text.font-16.font-weight-bold.pt-2.pb-3.border-bottom.pl-3 KNOW THE ARTISTS

        .pt-4
        a(href="#schoolCategories" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="schoolCategories").mt-3.collapse-head
            span.menu-text.font-16.pt-3.pb-3.pl-3 FOR SCHOOLS
             
        //- .collapse-nav.collapse.hide#schoolCategories
        //-     .card-custom.card
        //-         a.card-item.font-16.pb-1(href="#") PRE-SCHOOL
        //-         a.card-item.font-16.pb-1(href="#") PRIMARY UP
        //-         a.card-item.font-16.pb-1(href="#") TERTIARY

        .pb-1
        a.megamenu-browseby(href="")
            p.menu-text.font-16.py-2.pl-3 FOR RESEARCHERS

        a.megamenu-browseby(href="" role="button" data-key="123")
            p.menu-text.font-16.pt-2.pb-4.pl-3.border-bottom FOR EVERYONE
        
        a.megamenu-browseby(href="")
            p.menu-text.font-16.py-2.pl-3 FOR PARENTS
        
        a.megamenu-browseby(href="")
            p.menu-text.font-16.pt-2.pb-4.pl-3.border-bottom FOR KIDS

        
        .link-wrapper.pt-3
            a(href="#").menu-link SIGN UP FOR OUR NEWSLETTER
        .link-wrapper.pb-3
            a(href="#").menu-link ONSTAGE (ESPLANADE.COM)

        .social-icon.d-flex
            a.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Facebook.svg")
            a.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Youtube.svg")
            a.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Instagram.svg")
        
        