#slide-down.mm-wrapper
    a.close-btn-x
        img.close-icon(src="./assets/microsites/offstage/img/icons/Close.svg")
    .mm-content
        
        a.hyperlink-custom(href="")
            p.menu-text.bt-2.font-weight-bold.pl-3 EXPLORE THE ARTS

        .mm-content-item
            ul.nav.d-block
                li.nav-item.active
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") ALL
                li.nav-item 
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") MUSIC
                li.nav-item 
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") DANCE
                li.nav-item 
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") THEATRE
                li.nav-item 
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") VISUAL ARTS
                li.nav-item 
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") LITERARY ARTS
                li.nav-item
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") FILM
                li.nav-item.mb-3
                    a.hyperlink-custom.nav-link.megamenu-genre(href="#") GUIDES
       
        a.hyperlink-custom(href="")
            p.menu-text.bt-2.font-weight-bold.pt-2.pb-3.border-bottom.pl-3 KNOW THE ARTISTS

        .pt-4
        //- a.hyperlink-custom(href="/landing-researchers.html" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="schoolCategories").mt-3.collapse-head
        a.hyperlink-custom(href="/landing-schools.html").mt-3
            span.menu-text.bt-2.pt-3.pb-3.pl-3 FOR SCHOOLS
             
        //- .collapse-nav.collapse.hide#schoolCategories
        //-     .card-custom.card
        //-         a.card-item.bt-2.pb-1(href="#") PRE-SCHOOL
        //-         a.card-item.bt-2.pb-1(href="#") PRIMARY UP
        //-         a.card-item.bt-2.pb-1(href="#") TERTIARY

        .pb-1
        a.hyperlink-custom.megamenu-browseby(href="/landing-researchers.html")
            p.menu-text.bt-2.py-2.pl-3 FOR RESEARCHERS

        a.hyperlink-custom.megamenu-browseby(href="#" role="button" data-key="123")
            p.menu-text.bt-2.pt-2.pb-4.pl-3.border-bottom FOR EVERYONE
        
        a.hyperlink-custom.megamenu-browseby(href="#")
            p.menu-text.bt-2.py-2.pl-3 FOR PARENTS
        
        a.hyperlink-custom.megamenu-browseby(href="#")
            p.menu-text.bt-2.pt-2.pb-4.pl-3.border-bottom FOR KIDS

        
        .link-wrapper.pt-3
            a.hyperlink-custom(href="#").menu-link SIGN UP FOR OUR NEWSLETTER
        .link-wrapper.pb-3
            a.hyperlink-custom(href="#").menu-link ONSTAGE (ESPLANADE.COM)

        .social-icon.d-flex
            a.hyperlink-custom.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Facebook.svg")
            a.hyperlink-custom.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Youtube.svg")
            a.hyperlink-custom.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Instagram.svg")
        
        