#slide-down.mm-wrapper.hidden

    .mm-content
        
        p Some text

        .mm-content-item
            ul
                li
                    a(href="#") ALL
                li 
                    a(href="#") MUSIC
                li 
                    a(href="#") DANCE
                li 
                    a(href="#") THEATRE
                li 
                    a(href="#") VISUAL ARTS
                li 
                    a(href="#") LITERARY ARTS
                li 
                    a(href="#") FILM

        .seperator

        .mm-content-item
            ul
                li FOR SCHOOLS
                li FOR RESEARCH

        .seperator

        .social-icon
            .logo-icon
            .logo-icon
            .logo-icon

        p test