#slide-down.mm-wrapper
    a.close-btn-x
        img.close-icon(src="./assets/microsites/offstage/img/icons/Close.svg")
    .mm-content
        
        p.menu-text EXPLORE THE ARTS:

        .mm-content-item
            ul.nav.d-block
                li.nav-item.active
                    a.nav-link(href="#") ALL
                li.nav-item 
                    a.nav-link(href="#") MUSIC
                li.nav-item 
                    a.nav-link(href="#") DANCE
                li.nav-item 
                    a.nav-link(href="#") THEATRE
                li.nav-item 
                    a.nav-link(href="#") VISUAL ARTS
                li.nav-item 
                    a.nav-link(href="#") LITERARY ARTS
                li.nav-item.mb-3
                    a.nav-link(href="#") FILM

        .seperator

        .mm-content-item.mt-3
            ul.nav.d-block
                li.nav-item
                    a.nav-link(href="#") FOR SCHOOLS
                li.nav-item.mb-3
                    a.nav-link(href="#") FOR RESEARCH

        .seperator

        .social-icon.d-flex
            a.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Facebook.svg")
            a.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Youtube.svg")
            a.social-link(href="#")
                img.soc-icon(src="./assets/microsites/offstage/img/icons/Social/Instagram.svg")
        
        .link-wrapper
            a(href="#").menu-link SIGN UP FOR NEWSLETTER
        .link-wrapper
            a(href="#").menu-link BACK TO ESPLANADE.COM