#slide-down.mm-wrapper.hidden
    .close-btn-x X
    .mm-content
        
        p.menu-text Some text

        .mm-content-item
            ul.nav.d-block
                li.nav-item
                    a.nav-link(href="#") ALL
                li.nav-item 
                    a.nav-link(href="#") MUSIC
                li.nav-item 
                    a.nav-link(href="#") DANCE
                li.nav-item 
                    a.nav-link(href="#") THEATRE
                li.nav-item 
                    a.nav-link(href="#") VISUAL ARTS
                li.nav-item 
                    a.nav-link(href="#") LITERARY ARTS
                li.nav-item 
                    a.nav-link(href="#") FILM

        .seperator

        .mm-content-item
            ul.nav.d-block
                li.nav-item
                    a.nav-link(href="#") FOR SCHOOLS
                li.nav-item 
                    a.nav-link(href="#") FOR RESEARCH

        .seperator

        .social-icon
            .logo-icon
            .logo-icon
            .logo-icon

        p test