.col-12.d-block.d-md-none.p-0
    h4.bt-3.m-0.p-0.mb-4.top-title In the series: Routes of Asian Music

.col-5.p-0
    img.thumbnail-series(src="https://via.placeholder.com/250x150", alt="", width="100%")

.col-7.d-flex.flex-column.justify-content-center
    h4.bt-3.m-0.p-0.d-none.d-md-block In the series: Routes of Asian Music
    h2.font-weight-bolder.mb-4.my-md-4.clamp-3.title(data-clamp="3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum fuga reiciendis odio laborum blanditiis soluta deleniti, modi porro unde obcaecati expedita delectus ratione iure veritatis repudiandae et? Repudiandae, rem.
    a(href="" )
        p.bt-3.m-0.p-0 Find out more 
            span.pl-2 &#x3e;