.col-12.d-block.d-md-none.p-0
    h5.bt-3.m-0.p-0.mb-4 In the series: Routes of Asian Music

.col-5.series-img(style="background: url('https://via.placeholder.com/250x150'); background-repeat: no-repeat; background-size: cover; background-position: center; ")

.col-7.d-flex.flex-column.justify-content-center
    h5.bt-3.m-0.p-0.d-none.d-md-block In the series: Routes of Asian Music
    h2.font-weight-bolder.mb-4.my-md-4.clamp-3.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum fuga reiciendis odio laborum blanditiis soluta deleniti, modi porro unde obcaecati expedita delectus ratione iure veritatis repudiandae et? Repudiandae, rem.
    a(href="" )
        h5.bt-3.m-0.p-0 Find out more 
            span.pl-2 &#x3e;