.row
    .col.newsletter.p-0.bg-dark.text-white.text-center(style="background: url('https://www.publicengagement.ac.uk/sites/default/files/styles/content_width/public/hero/7842221242_40deabf89d_o.jpg?itok=NJw1VKrw');")
        .overlay.py-5
        .content-wrapper
            p.m-2.card-text.bt-2.font-weight-bold.text-white NEWSLETTER
            h1.font-weight-bold.text-uppercase.text-white Always first
            p.pb-4.text-white Be the first to know what's on at Esplanade.

            button(type="button").btn.btn-outline-light SIGN UP NOW