.row
    .col.bg-dark.text-white.text-center.py-5
        p.m-2.card-text.font-12.font-weight-bold NEWSLETTER
        h1.font-weight-bold.text-uppercase Always first
        p.pb-4 Be the first to know what's on at Esplanade.

        button(type="button").btn.btn-outline-light SIGN UP NOW