.quote-wrapper
    p.quotation-open.pr-2.text-center.text-md-left “
    p.quote
        span I realised how vital theatre was to me. I knew that it was the only thing that could get me out of bed and eager to go to work. Nothing inspired the same enthusiasmsss.

    p.quotation-close.pl-2.text-center.text-md-right ”

    p.quote-caption 100 Inspiring Rafflesians, 2007100