#relatedTopics
    .related-topics-wrapper
        .title
            h1.text-transform-none.font-weight-bolder RELATED TOPICS
        .related-topics.d-flex
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Ballet
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Blake Works
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Paris Opera
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") French Toast On The Rock
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Ballet
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Showcase
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Another Showcase
            a.btn.btn-related-topic.my-2.mr-2.text-transform-none(href="") Ballet and Dancer Longy
            
            
        