.row.px-md-5.py-5.bg-light
    .col-12.pb-4 
        h1.font-weight-bolder.text-uppercase You may also like

    - const cards = [1, 2, 3]
    each card in cards 
        .card-tile.col-12.col-md-4.pb-4.related-tile
            //+cardTile('./assets/microsites/offstage/img/icons/Youtube.svg','/detail.html','https://via.placeholder.com/310x195', card)
            a.hyperlink-custom(href="")
                .container-fluid
                    .row.bg-white
                        .col-5.related-thumbnail.p-0
                            img(src="https://via.placeholder.com/150x90")

                        .col-7.bg-white.d-flex.align-items-center
                            p.title.bt-2.m-0.clamp-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum fuga reiciendis odio laborum blanditiis soluta deleniti, modi porro unde obcaecati expedita delectus ratione iure veritatis repudiandae et? Repudiandae, rem.