.row.px-md-5 
    .col-12.pb-4 
        h2.font-weight-bold.text-uppercase You may also like

    - const cards = [1, 2, 3]
    each card in cards 
        .card-tile.col-12.col-md-4.pb-4
            +cardTile('./assets/microsites/offstage/img/icons/Youtube.svg','/detail.html','https://via.placeholder.com/310x195', card)