#relatedTopics
    .related-topics-wrapper
        .title
            h1.text-transform-none.font-weight-bolder RELATED TOPICS
        .related-topics.d-flex
            a.btn.btn-related-topic.my-2.mr-2(href="") Ballet
            a.btn.btn-related-topic.my-2.mr-2(href="") Blake Works
            a.btn.btn-related-topic.my-2.mr-2(href="") Paris Opera
            a.btn.btn-related-topic.my-2.mr-2(href="") French Toast
            a.btn.btn-related-topic.my-2.mr-2(href="") Ballet
            a.btn.btn-related-topic.my-2.mr-2(href="") Showcase
            a.btn.btn-related-topic.my-2.mr-2(href="") Ballet and Dancer Longy
            
        