.container
    .row
        .col-12.my-5
            .d-block.d-md-flex.justify-content-start.align-items-center.resources-container.pb-2
                .resources-title.mr-1
                    h1.title.font-weight-bolder.my-0 Other Resources
                .selection.ml-md-1.ml-0.mt-3.mt-md-0
                    select.resource-select.ml-md-3.ml-0.w-auto.custom-select.text-uppercase
                        option(value='1' selected) Singapore
                        option(value='2') Malaysia Kuala Lumpur
                        option(value='3') Taiwan
                                                                
            .resource-wrapper
                .resources-content.resources-1
                    .description.pt-2
                        p.bt-1 For more information and materials on Singapore's performing arts and culture, you may like to visit the following resources or repositories. 
                    .d-flex.flex-column
                        a(href="") Lorem Ipsum is simply dummy text 
                        a(href="") of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        a(href="") standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 

                .resources-content.resources-2
                    .description.pt-2
                        p.bt-1 TEST 123.
                    .d-flex.flex-column
                        a(href="") KL

                .resources-content.resources-3
                    .description.pt-2
                        p.bt-1 hahaha. 
                    .d-flex.flex-column
                        a(href="") This is Taiwan
                        a(href="") This is Taiwan 2
                        a(href="") This is Taiwan 3
                        a(href="") This is Taiwan 4
                        a(href="") This is Taiwan 5