//- START: Search BAR
.col-12.pb-20
    #closeSearch
        img(src="./assets/microsites/offstage/img/icons/Close.svg" @click="closeSearch()").close
    form.search-wrapper(autocomplete="off" novalidate @submit.prevent="submittedSearch")
        .form-row.pb-20.align-items-end
            .col-12.pr-0
                label(for="validationServer01") Search: 

                //- .d-flex
                input#search-input.form-control(v-model="keyword" type="text" placeholder="Ask us all about arts in SG" @input="filteredSuggestion()" @keyup.enter="submittedSearch" data-content="suggestions" required)
                button(type="submit").search-submit.btn.bg-white.px-0
                    img(src="./assets/microsites/offstage/img/icons/Search/Black.svg") 

                .invalid-feedback Insert Keyword
//- END: Search BAR


//- START: Search Suggestion
.col-12.search-suggestion
        p.font-12 Search Suggestion:
        
        ul#search-suggestion-list.search-suggestion-list.bt-2(body-scroll-lock-ignore)
            li(v-for="suggestion in searchSuggestionFiltered" @click="selectedSuggestion(event)") 
                span(v-html="boldSearchKeyword(suggestion)")
//- END: Search Suggestion
   

//- Start: Spinner
.col-12#search-spinner
    .spinner-load
        //- img.spinner-icon(src="/assets/microsites/offstage/img/icons/Loading.svg")
        img.spinner-icon(src="/assets/microsites/offstage/img/gif/op2.gif")
        p.spinner-message.bt-2.mb-25 Yeah, it's a slow build-up - but we promise it will be worth the wait!
//- END: Spinner

//- START: Search Results
.col-12
    form
        .total-result-wrapper.justify-content-between.align-items-center.pb-25
            p.total-result.m-0
                | Showing 
                span.font-weight-bold {{searchResult.total}}
                |  Results  

            .search-filter-btn(@click="showFilter()").d-md-none
                img(src="/assets/microsites/offstage/img/icons/Filter_with_text.svg" width="28px").filter-icon


        .search-filter.mb-25
            .search-filter-close(@click="closeFilter()").d-md-none
                img(src="./assets/microsites/offstage/img/icons/Close.svg").close-icon
            .form-check
                input.form-check-input.custom-control-input(type="checkbox" id="jazz" @click="fetchResultData()")
                label.form-check-label(for="jazz") Jazz
            .form-check
                input.form-check-input.custom-control-input(type="checkbox" id="music" @click="fetchResultData()")
                label.form-check-label(for="music") Music
            .form-check
                input.form-check-input.custom-control-input(type="checkbox" id="opera" @click="fetchResultData()")
                label.form-check-label(for="opera") Opera
            .form-check
                input.form-check-input.custom-control-input(type="checkbox" id="theatre" @click="fetchResultData()")
                label.form-check-label(for="theatre") Theatre
            .form-check
                input.form-check-input.custom-control-input(type="checkbox" id="musicaltheatre" @click="fetchResultData()")
                label.form-check-label(for="musicaltheatre") Musical Theatre        
    //- END: Search Filter

    .search-result
        .result-card(v-for="result in searchResult.result")
            p.result-label
                span.pr-3(v-if="result.category!= ''") {{result.category}}
                span.pr-3(v-if="result.contentType!= ''") {{result.contentType}}
                span.pr-3(v-if="result.date!= ''") {{result.date}}
            a(:href="result.url").result-title
                p(v-line-clamp:20="3") {{result.title}}
            a(:href="result.url").result-description
                p.bt-2(v-line-clamp:20="2") {{result.description}}
        
        .result-more.mb-md-25.text-center(@click="moreResult")
            button.btn.btn-outline-primary.mb-25(aria-expanded="false") Load More
//- END: Search Results

//- START: No Result
.col-12.no-result.pb-5
    //- p.result-header.pb-25 Oops! We are unable to provide any results…
    //- p.font-24.pb-25 
    //-     | Did you mean   
    //-     a.suggest-key Jazz
    //-     span.font-weight-bold ?  
    //- p Try again: 
    //- ul.list-unstyled 
    //-     li Check your spelling (Don’t worry, we understand somethings it’s hard)
    //-     li Broaden your search by fewer or more general words
    div(v-html="searchResult.message")
//- END: No Result