//- START: Search BAR
.col-12.pb-20
    #closeSearch
        img(src="./assets/microsites/offstage/img/icons/Close.svg" ).close
    form.search-wrapper.needs-validation(autocomplete="off" @submit="submittedSearch" novalidate)
        .form-row.pb-20.align-items-end
            .col-12.pr-0
                label(for="validationServer01") Search: 

                //- .d-flex
                input#search-input.form-control(v-model="search" type="text" placeholder="Ask us all about arts in SG" @keyup="filteredSuggestion()" required)
                button(type="submit").search-submit.btn.bg-white.px-0
                    img(src="./assets/microsites/offstage/img/icons/Search/Black.svg") 

                .invalid-feedback Insert Search
                
                        
//- END: Search BAR


//- START: Search Suggestion
.col-12.search-suggestion
        p.font-12 Search Suggestion:
        
        ul.search-suggestion-list.bt-2
            li(v-for="suggestion in searchSuggestion" @click="selectedSuggestion(event)") 
                span {{suggestion.name}}
//- END: Search Suggestion


//- START: Search Filter
.col-12
    form
        .show-result-wrapper.justify-content-between.align-items-center
            p.show-result.m-0
                | Showing 
                span.font-weight-bold 0
                |  Results  

            .search-filter-btn(@click="showFilter()").d-md-none
                img(src="/assets/microsites/offstage/img/icons/Filter_with_text.svg" width="28px").filter-icon


        .search-filter.mt-md-25
            .search-filter-close(@click="closeFilter()").d-md-none
                img(src="./assets/microsites/offstage/img/icons/Close.svg").close-icon
            .form-check(v-for="filter in searchFilter") 
                input.form-check-input.custom-control-input(type="checkbox" :id="'filter' + filter.id")
                label.form-check-label(:for="'filter' + filter.id") {{filter.type}}
//- END: Search Filter


//- START: No Result
.col-12.no-result.d-none 
    p.result-header.pb-25 Oops! We are unable to provide any results…
    p.font-24.pb-25 
        | Did you mean   
        a.suggest-key Jazz
        span.font-weight-bold ?  
    p Try again: 
    ul.list-unstyled 
        li Check your spelling (Don’t worry, we understand somethings it’s hard)
        li Broaden your search by fewer or more general words
//- END: No Result


//- START: Profanity Result
.col-12.profanity-result.d-none 
    p.result-header Hey! That’s not very nice.
//- END: Profanity Result


//- START: Special Keyword Result
.col-12.special-result.d-none  
    p.result-header Well, they are friends of Esplanade. 
    br
    p.result-header You may want to visit them on their site.
//- END: Special Keyword Result       


//- START: Search Results
.col-12.search-result.pt-25
    .result-card
        p.result-genre-date
            | offstage
            span.px-2 &#x7c;
            | 4 jul 2019
        a(href="").result-title
            p(v-line-clamp:20="3") Jazz in July
        a(href="").result-description
            p.bt-2(v-line-clamp:20="2") Soulful improvisations, swinging rhythms and infectious grooves as we reach deep into the roots of jazz and explore new horizons. Soulful improvisations, swinging rhythms and infectious grooves as we reach deep into the roots of jazz and explore new horizons.
    
    .result-card
        p.result-genre-date
            | restaurant & shops
            span.px-2 &#x7c;
            | 4 jul 2019
        a(href="").result-title
            p(v-line-clamp:20="3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquam ipsa perferendis ratione totam error eaque itaque sapiente quo. Minus vero expedita tempora error quas illo animi sapiente atque adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora adipisci quis facere cumque eos corrupti error laudantium, autem libero voluptas, quisquam nihil odit officiis debitis quae? Delectus, pariatur molestias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquam quis dolor! Reprehenderit doloremque dolor a quidem, cumque sint quibusdam culpa inventore debitis error accusantium id itaque neque unde sapiente.
        a(href="").result-description
            p.bt-2(v-line-clamp:20="2") ...a lot of these words came from the jazz world? That’s right, jazz has always been that hip, creative kid on the block, whether it’s making up infectious rhythms and beats on the spot, or words that. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus reiciendis odio totam non consectetur, voluptate cumque voluptatum fuga! Illo non neque consectetur praesentium impedit blanditiis incidunt quo consequatur placeat voluptatibus.

    .result-card
        p.result-genre-date
            | Downloads 
            span.px-2 &#x7c; 
            | 4 jul 2019
        a(href="").result-title
            p(v-line-clamp:20="3") Can you talk (jazz) talk?
        a(href="").result-description
            p.bt-2(v-line-clamp:20="2") Jazz in July takes you on an exploration of jazz that reaches deep into its roots to discover new horizons. Throughout the month of July at the Café 21 Living Room (Concourse) and Music Station (Outdoor... 
    .result-more.mb-md-25.text-center
        button.btn.btn-outline-primary.mb-25(aria-expanded="false") Load More
//- END: Search Results