//- START: Search BAR
.col-12.pb-20
    #closeSearch
        img(src="./assets/microsites/offstage/img/icons/Close.svg" ).close
    form.search-wrapper.needs-validation(autocomplete="off" @submit="submittedSearch" novalidate)
        .form-row.pb-20.align-items-end
            .col-12.pr-0
                label(for="validationServer01") Search: 

                //- .d-flex
                input#search-input.form-control(v-model="keyword" type="text" placeholder="Ask us all about arts in SG" @keyup="filteredSuggestion()" data-content="suggestions" required)
                button(type="submit").search-submit.btn.bg-white.px-0
                    img(src="./assets/microsites/offstage/img/icons/Search/Black.svg") 

                .invalid-feedback Insert Search
//- END: Search BAR


//- START: Search Suggestion
.col-12.search-suggestion
        p.font-12 Search Suggestion:
        
        ul.search-suggestion-list.bt-2
            li(v-for="suggestion in searchSuggestion" @click="selectedSuggestion(event)") 
                span {{suggestion}}
//- END: Search Suggestion


//- START: Search Filter
.col-12
    form
        .show-result-wrapper.justify-content-between.align-items-center
            p.show-result.m-0
                | Showing 
                span.font-weight-bold {{searchResult.total}}
                |  Results  

            .search-filter-btn(@click="showFilter()").d-md-none
                img(src="/assets/microsites/offstage/img/icons/Filter_with_text.svg" width="28px").filter-icon


        .search-filter.mt-md-25
            .search-filter-close(@click="closeFilter()").d-md-none
                img(src="./assets/microsites/offstage/img/icons/Close.svg").close-icon
            .form-check(v-for="filter in searchFilter") 
                input.form-check-input.custom-control-input(type="checkbox" :id="'filter' + filter.id")
                label.form-check-label(:for="'filter' + filter.id") {{filter.type}}
//- END: Search Filter


//- START: No Result
.col-12.no-result
    p.result-header.pb-25 Oops! We are unable to provide any results…
    p.font-24.pb-25 
        | Did you mean   
        a.suggest-key Jazz
        span.font-weight-bold ?  
    p Try again: 
    ul.list-unstyled 
        li Check your spelling (Don’t worry, we understand somethings it’s hard)
        li Broaden your search by fewer or more general words
//- END: No Result


//- START: Profanity Result
.col-12.profanity-result.d-none 
    p.result-header Hey! That’s not very nice.
//- END: Profanity Result


//- START: Special Keyword Result
.col-12.special-result.d-none  
    p.result-header Well, they are friends of Esplanade. 
    br
    p.result-header You may want to visit them on their site.
//- END: Special Keyword Result       


//- START: Search Results
.col-12.search-result.pt-25
    .result-card(v-for="result in searchResult.result")
        p.result-label
            span.pr-3(v-if="result.category!= ''") {{result.category}}
            span.pr-3(v-if="result.contentType!= ''") {{result.contentType}}
            span.pr-3(v-if="result.publishDate!= ''") {{result.publishDate}}
        a(:href="result.url").result-title
            p(v-line-clamp:20="3") {{result.title}}
        a(:href="result.url").result-description
            p.bt-2(v-line-clamp:20="2") {{result.description}}
    
    .result-more.mb-md-25.text-center(@click="moreResult")
        button.btn.btn-outline-primary.mb-25(aria-expanded="false") Load More
//- END: Search Results