.suprise-container.p-4
    .bg-circle.mt-25.position-absolute.d-flex.float-right.align-items-center.justify-content-center.m-3
        span.icon.suprise-icon.esplanade-icon-Next
    .text-wrapper.py-2.px-3
        h3.suprise-text.text-transform-none.mb-0 Whew! That was an ending worth sticking around for, wasn't it?