.tag-result-container.py-1

    .row
        .col-12.col-md-3
            a.page-url(:href="result.Url")
                //- image size 218x136
                img.page-thumbnail.ml-md-0(:src='result.Thumbnail' alt="")

        .col-12.col-md-8.my-auto
            .detail-content.pt-4.pt-md-0
                .d-flex.justify-content-start.align-items-center.mb-1
                    .content-type-wrapper.pr-2
                        p.subcontent.font-12.font-weight-bold.mb-0.text-uppercase {{result.ContentType.Value}}
                    .date-wrapper.pl-2
                        p.subcontent.font-12.font-weight-bold.mb-0.text-uppercase {{result.PublishDate}}
                a.page-url.hyperlink-custom(:href="result.Url")
                    .page-title.my-1
                        h3.title.text-transform-none.mb-0(v-line-clamp:20="3") {{result.Title}}
                    .page-description
                        p.description.bt-2(v-line-clamp:20="2") {{result.Description}}
    
    