.tag-result-container.py-1

    .row
        .col-12.col-md-4.col-sm-5.px-0.px-md-20
            a.page-url(:href="result.Url")
                //- image size 218x136
                img.page-thumbnail.ml-md-0(:src='result.Thumbnail' alt="")

        .col-12.col-sm-7.col-sm-7.my-auto.px-1.px-sm-2
            .detail-content.pt-4.pt-md-0
                .d-flex.justify-content-start.align-items-center.mb-1
                    .category-wrapper.pr-2
                        span.page-info.subcontent.font-12.font-weight-bold.mb-0.text-uppercase.pr-2 {{result.Category}}
                        span.page-info.subcontent.font-12.font-weight-bold.mb-0.text-uppercase.px-2 {{result.ContentType.Value}}
                        span.page-info.subcontent.font-12.font-weight-bold.mb-0.text-uppercase.px-2 {{result.PublishDate}}
                a.page-url.hyperlink-custom(:href="result.Url")
                    .page-title.my-1
                        h3.title.text-transform-none.mb-0(v-line-clamp:20="3") {{result.Title}}
                    .page-description
                        p.description.bt-2(v-line-clamp:20="2") {{result.Description}}
    
    