.col-10.col-md-3.pb-4.px-0
    img(src='https://via.placeholder.com/500x100' width="100%")

.col-12.px-0
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed illum nobis in autem reprehenderit nisi? Natus nobis aut quasi qui quisquam sit iure, molestias, voluptas laboriosam nulla quas nihil et.