include mixins/card-tile.pug
include mixins/header.pug
include mixins/sprite.pug
include mixins/title-description.pug
include mixins/carousel-banner-text.pug
include mixins/video-carousel.pug
include mixins/video-modal.pug
include mixins/hero-banner.pug
include mixins/images.pug
include mixins/whats-on.pug



doctype html
html(
  lang="en"
)
  include layout/head.pug

  body
    block header

    main.offset-menu
      block content

  block footer
          
    //- include components/blog-search.pug
    include layout/script.pug