mixin textBanner(title, description, url)
    .banner-text&attributes(attributes)
        h1.text-white=title
        p.description.clamp-2=description
        a.btn.btn-outline-light(href="/detail.html") FIND OUT MORE
