mixin header(navbar)
    header
        .container-fluid.no-gutters.pl-0.pr-0
            .nav-bar-wrapper.navbar-fixed-top
                .row.no-gutters
                    .col-12.col-md-6.no-gutters.pl-0.pr-0
                        .nav-bar.navbar-fixed-top.left
                            button#hamb.hamb
                                #rect1.showRect
                                #rect2.showRect 
                                #rect3.showRect 
                                p.menu-text MENU
                            
                            a.logo-link(href="/").d-flex.logo-container
                                .logo-wrapper
                                    img.logo.w-75(src="./assets/img/logo/White/Esplanade.svg")

                                .logo-wrapper
                                    img.logo.w-75(src="./assets/img/logo/White/Offstage.svg")

                            


                    .col-12.col-md-6.no-gutters.pl-0.pr-0
                        .nav-bar.right#navbarRight
                            .side-nav-wrapper.px-4
                                //- set TRUE for side-nav or blank for back button
                                if navbar= navbar 
                                    ul.nav.nav-tabs#navTab(role="tablist")
                                        li.nav-item
                                            a.nav-link.pl-0.active(data-toggle="tab" href="#explorethearts" role="tab") EXPLORE THE ARTS
                                        li.nav-item
                                            a.nav-link(data-toggle="tab" href="#knowtheartists" role="tab") KNOW THE ARTISTS
                                    
                                    hr.my-0

  

                                else
                                    .nav.back.d-flex.d-xs-none.d-sm-none.d-md-block
                                        a.btn.btn-back.font-14(href="javascript:history.go(-1)")
                                            img(src='./assets/img/icons/Previous.svg') 
                                            span.ml-4 Back

                .search.position-relative
                        button.btn-search#btnSearch(type="button")
                            img.search-icon-mobile(src="./assets/img/icons/Search/White.svg")
                            img.search-icon(src="./assets/img/icons/Search/Black.svg")


                        
                        //- .modal.fade.in#searchBar(tabindex="-1" role="dialog" aria-labelledby="search" aria-hidden="true")
                        //-     .modal-dialog(role="document")
                        //-         .modal-content
                        //-             .modal-body.d-flex.align-items-center
                        //-                 button.btn.btn-submit-search(type="submit")
                        //-                     img.search-left.px-3(src="./assets/img/icons/Search/Black.svg")
                        //-                 input.form-control.search-field.px-3(type="text" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Search Content")
                        //-                 button.close-btn-search.px-3(data-dismiss="modal")
                        //-                     img.close-icon(src="./assets/img/icons/Close.svg")

                        .search-bar#searchBar.d-flex.align-items-center.justify-content-center
                            button.btn.btn-submit-search(type="submit")
                                img.search-left.px-3(src="./assets/img/icons/Search/Black.svg")
                            input.form-control.search-field.px-3(type="text" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Search Content")
                            button.close-btn-search#closeSearch.px-3(data-dismiss="modal")
                                img.close-icon(src="./assets/img/icons/Close.svg")

            .row
                include ../components/mega-menu.pug