mixin header(navbar)
    header
        .container-fluid.no-gutters.pl-0.pr-0
            .nav-bar-wrapper.navbar-fixed-top
                .row
                    .col-12.col-md-6.no-gutters.pl-0.pr-0
                        .nav-bar.navbar-fixed-top.left
                            button#hamb.hamb
                                #rect1.showRect
                                #rect2.showRect 
                                #rect3.showRect 
                                p.menu-text MENU
                            
                            .d-flex
                                .logo-wrapper
                                    a.logo-link(href="#") Logo
                                        img.logo(src="")

                                .logo-wrapper
                                    a.logo-link(href="#") Text logo
                                        img.logo(src="")

                    .col-12.col-md-6.no-gutters.pl-0.pr-0
                        .nav-bar.right.d-none.d-md-block
                            .side-nav-wrapper
                                //- set TRUE for side-nav or blank for back button
                                if navbar= navbar 
                                    .nav.nav-tabs#navTab
                                        li.nav-item
                                            a.nav-link.active(href="") EXPLORE THE ARTS
                                        li.nav-item
                                            a.nav-link(href="") KNOW THE ARTISTS

                                    .search
                                        button.btn-search#btnSearch(type="button" data-toggle="modal" data-target="#searchBar")
                                            img.search-icon(src="/img/icons/search/black.svg")
                                        
                                        .modal.fade.in#searchBar(tabindex="-1" role="dialog" aria-labelledby="search" aria-hidden="true")
                                            .modal-dialog(role="document")
                                                .modal-content
                                                    .modal-body
                                                        img.search-left(src="")
                                                        input.form-control.search-field(type="text" aria-label="Default" aria-describedby="inputGroup-sizing-default")
                                                        p asdkajsdkjs


                                else
                                    .nav.back
                                        a.back-btn(href="javascript:history.go(-1)") Back
                    
                        
            .row
                include ../components/mega-menu.pug