mixin sideTile
    //- large tile component in for schools
    .side-tile-wrapper

        .row.py-md-25.py-3(dir="rtl")
            .col-md-6.col-12.px-0.px-md-20(dir="ltr")
                img.side-img(src="https://via.placeholder.com/562x351")

            .col-md-6.col-12.my-auto(dir="ltr")
                .text-wrapper.mr-md-0
                    h2.title.my-1 Tuned-In Learning Guides
                    p.bt-1.subtitle.my-1 Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                    a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 Get MORE

        .row.py-md-25.py-3(dir="ltr")
            .col-md-6.col-12.px-0.px-md-20
                img.side-img(src="https://via.placeholder.com/562x351")

            .col-md-6.col-12.my-auto
                .text-wrapper.ml-md-0 
                    h2.title.my-1 Tuned-In Learning Guides
                    p.bt-1.subtitle.my-1 Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                    a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 learn MORE

mixin smallSideTile
        //- large tile component in for schools
        .side-tile-wrapper

            .row.py-md-25.py-3(dir="rtl")
                .col-md-5.col-12.px-0.px-md-20.text-left(dir="ltr")
                    img.sideSmall-img.ml-md-0(src="https://via.placeholder.com/359x226")

                .col-md-7.col-12.my-auto.px-md-0(dir="ltr")
                    .text-wrapper
                        h3.title.my-1 Tuned-In Learning Guides
                        p.bt-1.subtitle-small.my-1 Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                        a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 start exploring

            .row.py-3.py-md-25.mx-md-auto(dir="ltr")
                .col-md-5.col-12.px-0.px-md-20.text-center
                    img.sideSmall-img.mr-md-0(src="https://via.placeholder.com/359x226")

                .col-md-7.col-12.my-auto
                    .text-wrapper  
                        h3.title.my-1 Tuned-In Learning Guides
                        p.bt-1.subtitle-small.my-1Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                        a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 start exploring


            
