mixin sideTile
    //- large tile component in for schools
    .side-tile-wrapper

        .row.py-25(dir="rtl")
            .col-md-6.col-12.px-0.px-sm-2(dir="ltr")
                img.side-img(src="https://via.placeholder.com/562x351")

            .col-md-6.col-12.my-auto(dir="ltr")
                .text-wrapper.mr-md-50
                    h2.title Tuned-In Learning Guides
                    p.bt-1.subtitle Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                    a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 Get MORE

        .row.py-25(dir="ltr")
            .col-md-6.col-12.px-0.px-sm-2
                img.side-img(src="https://via.placeholder.com/562x351")

            .col-md-6.col-12.my-auto
                .text-wrapper.ml-md-50  
                    h2.title Tuned-In Learning Guides
                    p.bt-1.subtitle Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                    a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 learn MORE

mixin smallSideTile
        //- large tile component in for schools
        .side-tile-wrapper

            .row.py-25(dir="rtl")
                .col-md-6.col-12.px-0.px-sm-2.text-left(dir="ltr")
                    img.sideSmall-img.ml-md-1(src="https://via.placeholder.com/359x226")

                .col-md-5.col-12.my-auto(dir="ltr")
                    .text-wrapper
                        h3.title Tuned-In Learning Guides
                        p.bt-1.subtitle-small Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                        a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 start exploring

            .row.py-25.px-md-25.mx-md-auto(dir="ltr")
                .col-md-6.col-12.px-0.px-sm-2.text-center
                    img.sideSmall-img.mr-md-3(src="https://via.placeholder.com/359x226")

                .col-md-5.col-12.my-auto
                    .text-wrapper  
                        h3.title Tuned-In Learning Guides
                        p.bt-1.subtitle-small Download and print these Tuned-In Learning Guides guides to further your students’ knowledge of the arts.
                        a(role="button" href="").btn.btn-outline-primary.my-1.ml-1.ml-md-0 start exploring


            
