mixin videoCarousel(videoLink) 
    div.embed-responsive.embed-responsive-16by9.mb-3
        iframe.embed-responsive-item(src=videoLink allowfullscreen)
            
mixin videoCarouselNav(videoThumbnail) 
    div.embed-responsive.embed-responsive-16by9.mb-3
        iframe.embed-responsive-item(src=videoThumbnail allowfullscreen)
    //- .thumbnail-wrapper.position-relative
    //-     .thumbnail-overlay.position-absolute.bg-primary.w-100.d-flex.justify-content-center.align-content-center
    //-         img(src='./assets/microsites/offstage/img/icons/Youtube.svg' alt="thumbnail").video-icon.float-right.p-3
    //-     img.video-thumbnail(src=videoThumbnail).w-100