mixin videoModal(videoLink)
    .modal.fade#video-modal(tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role = "document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                            img(src="./assets/microsites/offstage/img/icons/Close/White.svg")
                .modal-body
                    #video.embed-responsive.embed-responsive-16by9.mb-3
                        iframe.embed-responsive-item(src=videoLink allowfullscreen)    