extends ../template.pug   

block header 
    +header()

block content
    .container-fluid.article-start#summary
        //- .row
        //-     //- .col-12
        //-         +videoModal('https://www.youtube.com/embed/FdnOqThfNzc')
                
        //-     .col-12.col-md-6.px-0
        //-         //- Trigger Modal

        //-         //- Hero Banner with Video Modal
        //-         +heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', true, false, false, true)

        //-         //- Hero Banner with Video Modal
        //-         //- +heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', false, false, false, true)
                
        //-     .col-12.col-md-6.px-md-5.py-md-5.mt-md-5.pb-0.pt-4.mt-2 
        //-         .px-md-4.h-100.d-flex.justify-content-center.flex-column
        //-             p.genre-text.bt-2.font-weight-bold 
        //-                 a(href="#") DANCE
        //-                 a(href="#") MUSIC 
        //-                 a(href="#") FILM
        //-             h1.font-weight-bolder A French Toast To Ballet
        //-             p.clamp-2 Seven things to know about Paris Opera Ballet to impress your mates 
        //-             p Publish date: 19 April 2019
        //-             p Last updated date: 23 April 2019
        //-             div
        //-                 a(href="#content")
        //-                     button(type="button").read-more.btn.btn-outline-primary Read more

        .row
            .col-12
                +videoModal('https://www.youtube.com/embed/FdnOqThfNzc')
                
            .col-12.col-md-6.px-0
                //- Trigger Modal
                
                //- Hero Banner with Video Modal
                +heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', true, false, false, false)

                //- Hero Banner with Img 720
                //+heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', false, false, true, false)   

                //- Hero Banner with Img 450
                //+heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', false, false, false, true)

            .col-12.col-md-6.px-md-5.py-md-5.mt-md-5.pb-0.pt-4.mt-2 
                .px-md-4.h-100.d-flex.justify-content-center.flex-column
                    p.genre-text.bt-2.font-weight-bold 
                        a.hyperlink-custom(href="#") DANCE
                        a.hyperlink-custom(href="#") MUSIC 
                        a.hyperlink-custom(href="#") FILM
                    h1.font-weight-bolder A French Toast To Ballet
                    p Seven things to know about Paris Opera Ballet to impress your mates

                    .d-inline
                        .d-flex.pr-4.hero-banner-icon-wrapper.align-items-baseline
                            .hero-banner-icon.mr-3                        
                                img.icon-details(src="./assets/microsites/offstage/img/icons/Loading.svg")
                            p.mb-0.bt-3 Publish date: 19 April 2019
                        
                        .d-flex.pr-4.hero-banner-icon-wrapper.align-items-baseline
                            .hero-banner-icon.mr-3                        
                                img.icon-details(src="./assets/microsites/offstage/img/icons/Calendar.svg")
                            p.mb-0.bt-3 Last updated date: 23 April 2019
                        
                        .d-flex.pr-4.hero-banner-icon-wrapper.align-items-baseline
                            .hero-banner-icon.mr-3                        
                                img.icon-details(src="./assets/microsites/offstage/img/icons/Social/Whatsapp.svg")
                            p.mb-0.bt-3 By 
                                span
                                    a.hyperlink-custom#author-name(href="#acknowledgements") John Doe
                    //- div
                    //-     a(href="#content")
                    //-         button(type="button").read-more.btn.btn-outline-primary Read more


    .container-fluid.d-md-none
        .row
            .col 
                hr.w-100.my-25(style="border-top: 1px solid black")

    .container#readSection
        .row.py-25
            .col-12

    .container
        .row.py-25
            .col-12
                +smallSideTile

    .container-fluid
        +contactUs('If you are located outside Singapore, and wish to access our archival collections, please write in to corporate-oversears@esplanade.com.')

block footer 
    include ../layout/footer.pug