extends ../template-error.pug   

block header 
    +headerError(true)

block content
    
    .pt-50
    .pt-md-25
    
    .container-fluid
        .row
            .col-12.px-0
                .offlight.bg-dark
                    .content-wrapper.px-50.pt-4
                        h5.text-white.error-text error 404
                        h2.text-white.error-text opps! power cut!
                        p.bt-2.text-white.error-text Just kidding - we just couldn't find the page you want
                        a(role="button" href="/")#btn-error.btn.btn-outline-light.my-1.ml-1.ml-md-0 Back to homepage
    
block footer
    .container-fluid
        .row
            .col-12.p-0.sticky-footer
                include ../layout/footer.pug

