extends ../template.pug   

block header 
    +header(true)

block content 

    .container-fluid.no-gutters.p-0
        .row.no-gutters#tabs-filter

            .col-12
                .in-between-screen
                    .background

            .col-12.col-md-6
                .position-relative
                    .carousel-banner-wrapper
                        .carousel-banner(:id="all")
                            .banner-bg(v-for="banner in banners" :src='banner.ThumbnailDesktop'  :data-desktop-image='banner.ThumbnailDesktop' :data-mobile-image="banner.ThumbnailMobile" )
                                include ../components/banner-content.pug 

                            
            .col-12.col-md-6.tabfil-container
                .tab-filter.position-relative
                    .container-fluid.no-gutters.px-0
                        .row.no-gutters.filter-bar.px-3

                            .col-10.pt-4.pb-1
                                .category-tabs-wrapper.side-filter
                                    include ../components/category-tabs.pug 
                                    hr.w-100.ml-3
                                    
                            .col-2.d-none.d-md-block
                            
                            .col-11.px-2.pb-2.genre-wrapper
                                .genre-tabs-container.pb-3
                                    include ../components/genre-tabs.pug
                            .col-1.genre-filter.pb-2
                                 a.filter(style="cursor:pointer;")
                                    img(src='./assets/microsites/offstage/img/icons/Filter.svg' style="width:23px;")

                        .row.no-gutters.p-3.pt-md-3.mt-3.tab-content
                            .col-12.col-md-6.card-tile.px-2.pb-4(v-for="filter in filters" :key="filter" v-match-heights="{el:['.card-body']}")
                                include ../components/card-tile.pug

                            <infinite-loading @infinite="infiniteHandler">
                                <div slot="spinner">Loading...</div>
                                <div slot="no-more">No more message</div>
                                <div slot="no-results">No results message</div>
                            </infinite-loading>

                            

        .row
            include ../components/filter-menu.pug

block footer
    .container-fluid
        .row
            .col-12.col-md-6.p-0.sticky-footer
                include ../layout/footer.pug