extends ../template.pug   

block header 
    +header(true)

block content 
    
    .container-fluid.no-gutters.p-0
        .row.no-gutters
            .col-12.col-md-6
                .position-relative
                    .carousel-banner-wrapper
                        .carousel-banner.carousel-1(id="all" data-banners='[[{"Genre":"all","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/Tests/winter-nature-wallpaper-high-definition-For-desktop-Wallpaper.jpg?mw=1920&hash=C2B3AA4D4098785A2F3F1F898F657B9357B795C6","ThumbnailMobile":"","Content":{"Title":"Test - Xinyi 3 Top, Read","SubTitle":"Test Description hereee","ContentPosition":"","LinkToPage":"/offstage/explore the arts/2019/watch/test - xinyi 3 top read"}},{"Genre":"all","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/Tests/COOL-geeter-WALLPAPER-7053-32275236.jpg?mw=1920&hash=C684AF788E5FA09BA2F80D4B3665175B6CE70F3C","ThumbnailMobile":"/offstage/-/media/Offstage Microsite/Tests/1458289957powerful-images3.jpg?mw=1920&hash=107CCAEDC26B82BA8DE1940025B2DCAED5336447","Content":{"Title":"Test - Xinyi 1 Middle Watch Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.","SubTitle":"Start Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. end","ContentPosition":"middle","LinkToPage":"/offstage/explore the arts/2019/watch/test - xinyi 1 middle watch"}},{"Genre":"all","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/landscape-1515004324-boston-terrier.jpg?mw=1920&hash=4DC98326CF3ACACD14177C2298E9F60692E24673","ThumbnailMobile":"","Content":{"Title":"Test - Xinyi Bottom Readd ","SubTitle":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galley of type and scrambled it to make a type specimen book. ","ContentPosition":"bottom","LinkToPage":"/offstage/explore the arts/2019/watch/test - xinyi 4 bottom read"}}],[{"Genre":"fedae832124d46329f6c66a8fecf8fb4","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/4.jpg?mw=1920&hash=45099E045AE6751902414FF6585D832F1D2EFF1A","ThumbnailMobile":"","Content":{"Title":"X Music Testing 123 Top Watch Apple","SubTitle":"happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy 123123123","ContentPosition":"top","LinkToPage":"/offstage/explore the arts/2019/watch/x music testing 123 top watch apple"}},{"Genre":"fedae832124d46329f6c66a8fecf8fb4","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/3.jpg?mw=1920&hash=24D4E3F525601AD5604CBC09F904FA9D4E5F3635","ThumbnailMobile":"","Content":{"Title":"X Music Testing abc Middle Read Apple","SubTitle":"sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad","ContentPosition":"middle","LinkToPage":"/offstage/explore the arts/2019/watch/x music testing abc middle read apple"}},{"Genre":"fedae832124d46329f6c66a8fecf8fb4","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/5.jpg?mw=1920&hash=6AB811D8A011CDF84D974A572E1F8D99593D0D8F","ThumbnailMobile":"","Content":{"Title":"X Music Test Z 3 Bottom Listen Apple","SubTitle":"apple apple apple","ContentPosition":"bottom","LinkToPage":"/offstage/explore the arts/2019/watch/x music test z 3 bottom listen apple"}}],[{"Genre":"6a128c44814a475591e5a2041f2630b8","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/Tests/ED 768x1000px.png?mw=1920&hash=D21EACF04B4CD7922934CB0900835EDC2071B445","ThumbnailMobile":"/offstage/-/media/Offstage Microsite/Tests/COOL-geeter-WALLPAPER-7053-32275236.jpg?mw=1920&hash=C684AF788E5FA09BA2F80D4B3665175B6CE70F3C","Content":{"Title":"Win Sheng","SubTitle":"Win Sheng is ROXXXXXXXXXX","ContentPosition":"","LinkToPage":"/offstage/explore the arts/2019/read/win sheng testing"}},{"Genre":"6a128c44814a475591e5a2041f2630b8","ThumbnailDesktop":"","ThumbnailMobile":"","Content":{"Title":"Tan Win Sheng","SubTitle":"","ContentPosition":"","LinkToPage":"/offstage/explore the arts/2019/test article 1"}}],[{"Genre":"270e6a0a6ecc42eb947ef8bf4a7036b0","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/landscape-1515004324-boston-terrier.jpg?mw=1920&hash=4DC98326CF3ACACD14177C2298E9F60692E24673","ThumbnailMobile":"","Content":{"Title":"Test - Xinyi Bottom Readd ","SubTitle":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galley of type and scrambled it to make a type specimen book. ","ContentPosition":"bottom","LinkToPage":"/offstage/explore the arts/2019/watch/test - xinyi 4 bottom read"}}],[{"Genre":"d3bb61f68a304aea95e9a059189837f6","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/5.jpg?mw=1920&hash=6AB811D8A011CDF84D974A572E1F8D99593D0D8F","ThumbnailMobile":"","Content":{"Title":"X Music Test Z 3 Bottom Listen Apple","SubTitle":"apple apple apple","ContentPosition":"bottom","LinkToPage":"/offstage/explore the arts/2019/watch/x music test z 3 bottom listen apple"}}],[{"Genre":"603822cb8bd3439c8427070fc245a00a","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/4.jpg?mw=1920&hash=45099E045AE6751902414FF6585D832F1D2EFF1A","ThumbnailMobile":"","Content":{"Title":"X Music Testing 123 Top Watch Apple","SubTitle":"happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy happy 123123123","ContentPosition":"top","LinkToPage":"/offstage/explore the arts/2019/watch/x music testing 123 top watch apple"}}],[{"Genre":"c9124273cc014703b6495e05dbc794db","ThumbnailDesktop":"/offstage/-/media/Offstage Microsite/3.jpg?mw=1920&hash=24D4E3F525601AD5604CBC09F904FA9D4E5F3635","ThumbnailMobile":"","Content":{"Title":"X Music Testing abc Middle Read Apple","SubTitle":"sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad sad","ContentPosition":"middle","LinkToPage":"/offstage/explore the arts/2019/watch/x music testing abc middle read apple"}}]]')
                            .banner-bg(data-desktop-image="./assets/microsites/offstage/img/Bitmap.png" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
                                +textBanner('A French Toast To Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-top")

                            .banner-bg(data-desktop-image="./assets/microsites/offstage/img/Bitmap.png" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
                                +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-mid")

                            .banner-bg(data-desktop-image="./assets/microsites/offstage/img/Bitmap.png" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
                                +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-bot")

                        .carousel-banner.carousel-2(id="music")
                            .banner-bg(data-desktop-image="https://via.placeholder.com/1920x1920/808080/A9A9A9" data-mobile-image="122" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
                                +textBanner('A French Toast To Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-top")


                            .banner-bg(data-desktop-image="https://via.placeholder.com/1920x1920/808080/A9A9A9" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
                                +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-mid")

                            



            .col-12.col-md-6.tabfil-container
                .tab-filter.position-relative#tabs-filter
                    .container-fluid.no-gutters.px-0
                        .row.no-gutters.filter-bar.px-3

                            .col-10.pt-4.pb-1
                                .category-tabs-wrapper.side-filter
                                    include ../components/category-tabs.pug 
                                    hr.w-100.ml-3
                                    
                            .col-2.d-none.d-md-block
                            
                            .col-11.px-2.pb-2.genre-wrapper
                                .genre-tabs-container.pb-3
                                    include ../components/genre-tabs.pug
                            .col-1.genre-filter.pb-2
                                 a.filter(style="cursor:pointer;")
                                    img(src='./assets/microsites/offstage/img/icons/Filter.svg' style="width:23px;")

                        .row
                            include ../components/filter-menu.pug


                        .row.no-gutters.p-5.pt-md-3.mt-3.tab-content
                            .col-12.col-md-6.card-tile.px-2.pb-4(v-for="filter in filters" v-match-heights="{el:['.card-body']}")
                                include ../components/card-tile.pug

block footer
    .container-fluid
        .row
            .col-12.col-md-6.p-0.sticky-footer
                include ../layout/footer.pug