extends ../template.pug   

block header 
    +header(true)

block content 
    
    .container-fluid.no-gutters.p-0
        .row.no-gutters
            .col-12.col-md-6
                .position-relative
                    .carousel-banner-wrapper
                        .carousel-banner
                            .banner-bg(style="background-image:url('https://via.placeholder.com/1920x1920/#000000');")
                                +textBanner('A French Toast To Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-bot")


                            .banner-bg(style="background-image:url('https://via.placeholder.com/1920x1920/#000000');")
                                +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-mid")

                        .slide-count-wrap


            .col-12.col-md-6.pt-md-5.p-md-4
                .container-fluid
                    .row.d-md-none.px-4
                        .nav-bar.w-100
                            .side-nav-wrapper
                                ul.nav.nav-tabs.pt-md-0#navTab(role="tablist")
                                    li.nav-item
                                        a.nav-link.font-14.active.pl-0(data-toggle="tab" href="#explorethearts" role="tab") EXPLORE THE ARTS
                                    li.nav-item
                                        a.nav-link.font-14(data-toggle="tab" href="#knowtheartists" role="tab") KNOW THE ARTISTS
                                hr.mb-0
                    .row.pr-3.pt-md-4.align-items-center
                        .col-11.pl-3.pt-4.px-md-0
                            include ../components/genre-tabs.pug
                            
                        .col-1.px-0.px-lg-3.pt-4
                            a.filter(style="cursor:pointer;")
                                img.w-75(src='./assets/img/icons/FilterWithNotifications.svg')
                    .row
                        include ../components/filter-menu.pug


                    .row.p-3.p-md-0.pt-md-3.tab-content
                        - const cards = [1, 2, 3, 4, 5];
                        each card in cards 
                            .card-tile.col-12.col-md-6.px-2.pb-4.tab-pane.fade.show.active#explorethearts(role="tabpanel")
                                +cardTile('./assets/img/icons/Youtube.svg', '/detail.html','https://via.placeholder.com/310x195', card)
                    
                            .card-tile.col-12.col-md-6.px-2.pb-4.tab-pane.fade#knowtheartists(role="tabpanel")
                                +cardTile('./assets/img/icons/Spotify.svg', '/detail.html','https://via.placeholder.com/310x195', card)


block footer
    .container-fluid
        .row
            .col-12.col-md-6.p-0.sticky-footer
                include ../layout/footer.pug