extends ../template.pug   

block header 
    include ../layout/header.pug

block content 
    .container-fluid
        .row
            .col-12.col-md-6
                h1 carousel

            .col-12.col-md-6.pt-5
                .row.pt-5   
                    - const cards = [1, 2, 3, 4, 5]
                    each card in cards 
                        .card-tile.col-12.col-md-6.pb-4
                            +cardTile('/detail.html','https://via.placeholder.com/310x195', card)

block footer
    .container-fluid
        .row
            .col-12.col-md-6.p-0.sticky-footer
                include ../layout/footer.pug