//- extends ../template.pug   

//- block header 
//-     +header(true)

//- block content 
    
//-     .container-fluid.no-gutters.p-0
//-         .row.no-gutters
//-             .col-12.col-md-6
//-                 .position-relative
//-                     .carousel-banner-wrapper
//-                         .carousel-banner.carousel-1(id="all")
//-                             .banner-bg(data-desktop-image="./assets/microsites/offstage/img/Bitmap.png" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
//-                                 +textBanner('A French Toast To Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-top")

//-                             .banner-bg(data-desktop-image="./assets/microsites/offstage/img/Bitmap.png" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
//-                                 +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-mid")

//-                             .banner-bg(data-desktop-image="./assets/microsites/offstage/img/Bitmap.png" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
//-                                 +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-bot")

//-                         .carousel-banner.carousel-2(id="music")
//-                             .banner-bg(data-desktop-image="https://via.placeholder.com/1920x1920/808080/A9A9A9" data-mobile-image="122" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
//-                                 +textBanner('A French Toast To Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-top")


//-                             .banner-bg(data-desktop-image="https://via.placeholder.com/1920x1920/808080/A9A9A9" data-mobile-image="" style="background-image:url('https://via.placeholder.com/1920x1920/808080/A9A9A9');")
//-                                 +textBanner('Paris Opera Ballet', 'In a rare international appearance, Paris Opera Ballet comes to Singapore with works by three renowned choreographers.')(class="pos-mid")

                            



//-             .col-12.col-md-6.tabfil-container
//-                 .tab-filter.position-relative#tabs-filter
//-                     .container-fluid.no-gutters.px-0
//-                         .row.no-gutters.filter-bar.px-3

//-                             .col-10.pt-4.pb-1
//-                                 .category-tabs-wrapper.side-filter
//-                                     include ../components/category-tabs.pug 
//-                                     hr.w-100.ml-3
                                    
//-                             .col-2.d-none.d-md-block
                            
//-                             .col-11.px-2.pb-2.genre-wrapper
//-                                 .genre-tabs-container.pb-3
//-                                     include ../components/genre-tabs.pug
//-                             .col-1.genre-filter.pb-2
//-                                  a.filter(style="cursor:pointer;")
//-                                     img(src='./assets/microsites/offstage/img/icons/Filter.svg' style="width:23px;")

//-                         .row
//-                             include ../components/filter-menu.pug


//-                         .row.no-gutters.p-5.pt-md-3.mt-3.tab-content
//-                             .col-12.col-md-6.card-tile.px-2.pb-4(v-for="filter in filters" v-match-heights="{el:['.card-body']}")
//-                                 include ../components/card-tile.pug

//- block footer
//-     .container-fluid
//-         .row
//-             .col-12.col-md-6.p-0.sticky-footer
//-                 include ../layout/footer.pug