extends ../template.pug   

block header 
    +header(true)

block content 

    .container-fluid.no-gutters.p-0#tabs-filter
        .row.no-gutters

            .col-12
                .in-between-screen
                    .background
                include ../components/loading-screen.pug

            .col-12.col-md-6
                .position-relative
                    .carousel-banner-wrapper
                        .carousel-banner(:id="all")
                            .banner-bg(v-for="banner in banners" :data-desktop-image='banner.ThumbnailDesktop' :data-mobile-image="banner.ThumbnailMobile" )
                                include ../components/banner-content.pug 

                            
            .col-12.col-md-6.tabfil-container
                .tab-filter.position-relative
                    .container-fluid.no-gutters.px-0
                        .row.no-gutters.filter-bar.px-3.stick
                            .col-12.col-md-11.px-2.pt-4.pb-1
                                .category-tabs-wrapper.side-filter
                                    include ../components/category-tabs.pug 
                                       
                            .col-2.d-none.d-md-block

                            .col-12 
                                hr.mx-2.mx-md-3

                            .col-11.px-2.pb-2.genre-wrapper
                                .genre-tabs-container.pb-3
                                    include ../components/genre-tabs.pug
                            .col-1.genre-filter.pb-2
                                 a.filter(style="cursor:pointer;")
                                    img.filter-icon(src='/assets/microsites/offstage/img/icons/Filter.svg' style="width:23px;")
 
        
                        .row.no-gutters.px-3.px-md-4.tab-content
                            .col-12.bar-height
                            .col-12.col-md-6.card-tile.px-2(v-for="filter in filters" v-match-heights="{el:['.card-body']}")
                                include ../components/card-tile.pug
                            
                            .col-12.py-2.mx-auto
                                div#spinner.spinner-load
                                    img.spinner-icon(src="/assets/microsites/offstage/img/icons/Loading.svg")
                                        

                            

        .row
            include ../components/filter-menu.pug

block footer
    .container-fluid
        .row
            .col-12.col-md-6.p-0.sticky-footer
                include ../layout/footer.pug

               

                

                