extends ../template.pug   

block header 
    +header()

block content

    .container-fluid.article-start#landingPage
        .row

            .col-12
                .in-between-screen
                    .background

            .col-12.col-md-6.px-0
                //- Hero Banner with Video Modal
                //- +heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', true, false, false, false)

                //- Hero Banner with Img 720
                +heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', false, false, true, false)   

                //- Hero Banner with Img 450
                //+heroBanner('./assets/microsites/offstage/img/icons/Youtube.svg', 'https://via.placeholder.com/310x200', false, false, false, true)

            .col-12.col-md-6.px-md-5.py-md-5.mt-md-5.pb-0.pt-4.mt-2 
                .px-md-4.h-100.d-flex.justify-content-center.flex-column
                    p.genre-text.bt-2.font-weight-bold 
                        a.hyperlink-custom.text-uppercase(href="#") For Schools
                        
                    h1.font-weight-bolder Knowledge about the arts
                    p To equip your students with knowledge about the arts and extend the learning into the classroom, explore our Tuned-in learning Guides, classroom resources, stories and more.

                    //- div
                    //-     a(href="#content")
                    //-         button(type="button").read-more.btn.btn-outline-primary Read more

    //- 2 col Tiles
    .container#2colTiles
        .row.py-25
            .col-12
                +sideTile
                    //- what's on component

    .container-fluid#whatsOn
        +whatsOn('What\'s on for', '22 June 2019 (Saturday)', '4pm - 5.30pm', 'Esplanade Rehearsal Studio', '$58, $70, $150, $400')

    //- contact us component
    .container-fluid#contactUsContainer
        +contactUs('If you are located outside Singapore, and wish to access our archival collections, please write in to corporate-oversears@esplanade.com.')

block footer 
    include ../layout/footer.pug

    