extends ../template.pug   

block header 
    +header(true)

block content 
    .row.mt-5.ml-5
        include ../components/filter-menu.pug


block footer
    .container-fluid
        .row
            .col-12.col-md-6.p-0.sticky-footer
                include ../layout/footer.pug