.accordion{

    .card {
        flex-direction: column;
    }
    .card-header {
        cursor: pointer;
        padding-left: 0;
        padding-right: 0; 
    }

    .card-content {
        width: 90%;
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;  
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;       
    }

    .icon-plus {
        width: 20px;
        background: url('/assets/microsites/offstage/img/icons/Plus.svg');
        height: 20px;
        background-size: cover;        
    }
    
    .icon-minus {
        width: 20px;
        background: url('/assets/microsites/offstage/img/icons/Minus.svg');
        height: 4px;
        background-size: cover;        
    }

    .accordion-img-holder, 
    .accordion-video-holder{
        @media(min-width:768px){
            height: 300px;
            object-fit: cover;
        }
    }

    hr {
        width: 60px; 
        border-top: 4px solid black;
    }
    
    .title{
        text-transform: none !important;
    }
    
    .accordion-header-inner{
        width: calc(100% - 20px);
    }
}

#author-name {
    text-decoration: underline
}