.accordion{
    .card-header{
        cursor: pointer;
        padding-left: 0;
        padding-right: 0; 
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;         
    }

    .icon-plus {
        width: 20px;
        background: url('/assets/microsites/offstage/img/icons/Plus.svg');
        height: 20px;
        background-size: cover;        
    }
    
    .icon-minus {
        width: 20px;
        background: url('/assets/microsites/offstage/img/icons/Minus.svg');
        height: 4px;
        background-size: cover;        
    }
}

#author-name {
    text-decoration: underline
}