#backTop{
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 1000;
    cursor: pointer;
    transform: rotate(-90deg);

    @media(min-width:768px){
        right: 30px;
        bottom: 40px;
    }

    .goTop-icon{
        border-radius: 100%;
        width: 50px;
        font-weight: bold;
        height: 50px;
        padding: 15px;
        padding-top: 17px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, .8);
        color: #fff;
        font-size: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        @media(min-width:768px){
            background: #000;
            padding-top: 15px;
            color: white;
        }
        &:hover{
            border: 1px solid rgba(0, 0, 0, 1);
            color: rgba(255, 255, 255, 0.7);
            background: black;
            transition: all .2s;
        }
    }

}