.tab-content {
  background: #fff;
  .card-tile {
    padding-bottom: 31px;
  }
  
  .bar-height{
    position: relative;
    height: 0px;
    
    @media(min-width: 768px){
      height: 160px;
    }
  }
}

.card {
  border: none !important;
  border-radius: none !important;

  .icon-holder {
    height: 30px;
    width:30px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.5);
  }

  .icon {
    width: 20px
  }

  .card-title {
    word-break: break-word;
  }

  .card-text {
    line-height: 20px;
    word-break: break-word;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 0 !important;
    border: 1px solid #ccc;

    @media(min-width: 768px){
      height: 186px;
    }
  }

  .card-label {
    top: -1px;
  }

  .genre-title {
    border-right: 2px solid $primary;

    &:last-child {
      border-right: 0px solid $primary;      
    }
  }

  .card-body {
    a {
      &:hover {
      }
    }
  }
}
