.tab-content {
  // @media(min-width: 768px) {
  //   overflow-y: auto;
  //   max-height: 100vh;
  // }

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  background: #fff;
  .card-tile {
    padding-bottom: 31px;
  }

  .bar-height {
    position: relative;
    height: 0px;

    @include media-breakpoint-up(lg) {
      height: 150px;
    }
  }
}

.card {
  border: none !important;
  border-radius: none !important;
  flex-direction: row;

  .icon-holder {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 7px -1px rgba(0, 0, 0, 0.5);

    img[src=""] {
      display: none
    }
  }

  .icon {
    width: 20px;
  }

  .card-title {
    width: 100%;
    word-break: break-word;
    -ms-word-break: normal;

    @media (min-width:768px){
      max-width: 251px;
    }
  }

  .card-text {
    line-height: 20px;
    word-break: break-word;
    -ms-word-break: normal;
  }

  .card-img-top {
    // object-fit: cover;
    border-radius: 0 !important;
    border: 1px solid #ccc;
  }

  .card-label {
    top: -1px;

    &:empty {
      display: none;
    }
  }

  .genre-title {
    position: relative;
    display: inline-block;

    &:last-child {
      &:after {
        background: transparent;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background: $primary;
      margin-top: 4px;
      width: 2px;
      height: 11px;
      margin-left: 7px;
    }
  }

  .card-body {
    a {
      &:hover {
      }
    }
  }
}

.related-tile {
  // .col-5{
  //   flex: 0 0 133px;
  //   max-width: 133px;

  //   @media(min-width: 768px){
  //     flex: 0 0 150px;
  //     max-width: 150px;
  //   }
  // }

  .title {
    font-family: $font-proxima-bold;
    text-transform: uppercase;
    line-height: 21px;
  }
}

.related-thumbnail {
  img {
    width: 100%;
  }
}
