.side-filter {
  z-index: 99;
  position: relative;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: calc(100vw / 2 - 107px);
  }
  // @media(min-width:1440px){
  //   width: 770px;
  // }
  .tab-sliders {
    padding: 0 10px;
    padding-left: 2px;
    // @media(min-width:768px){
    //   padding:0 35px;
    // }

    .wrap {
      overflow-x: auto;
      width: 100%;
      overflow-y: hidden;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
      ul.nav-tabs {
        list-style-type: none;
        padding: 0;
        float: left;
        white-space: nowrap;
        border-bottom: none;
        font-family: $font-proxima-bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -1px;

        li {
          background: #fff;
          // padding-right: 50px;
          position: relative;
          white-space: nowrap;
          float: none;
          font-size: 18px;
          line-height: 18px;
          border: none;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;

          flex-grow: 1;
          flex-basis: auto;
          margin: -0.5em 0;
          padding: 0 1em;
          text-align: center;

          // border-left: 2px solid #575656;
          border-radius: 0;

          @media (min-width: 768px) {
            font-size: 18px;
          }

          &:first-child {
            border-left: none;
            padding-left: 0;
          }

          .nav-link {
            border: none;
            color: #ccc;
            font-weight: 900;
            cursor: pointer;
            padding: 0.3rem 0.1em;
            margin: 0.5em;
            font-family: $font-proxima-bold;

            &:before {
              content: "";
              background: #ccc;
              position: absolute;
              top: 17px;
              width: 2px;
              height: 25%;
              margin-left: -26px;
              z-index: 1;
            }
          }
          .active {
            border-bottom: 4px solid #000;
            color: #000;
            transition: color 0.3s;
          }
        }

        a {
          border-bottom: none;

          &:first-child {
            margin-left: 0px;

            @media (min-width: 768px) {
              margin-left: 5px;
            }
          }
        }
      }
      .nav {
        flex-wrap: nowrap;
      }
    }
    .btn-icon {
      display: none;
      @media (min-width: 768px) {
        position: absolute;
        top: -6px;
      }
    }
    .back {
      display: none;
    }
    #goPrev {
      left: -10px;
    }

    #goNext {
      right: 3px;
      display: none;
      @media (min-width: 768px) {
        display: block;
        background: white;
      }
    }
    .arrow {
      display: none;
      @media (min-width: 768px) {
        display: block;
        background: white;
      }
    }
  }
}
