

.side-filter{
  z-index: 99;
  position: relative;
  .tab-sliders{
    padding:0 10px;
    padding-left: 2px;
    @media(min-width:768px){
      padding:0 60px;
      padding-left: 10px;
    }
    

    .wrap{
      overflow: auto;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      ul.nav-tabs{
        list-style-type: none;
        padding: 0;
        float: left;
        white-space: nowrap;
        border-bottom: none;
        font-family: $font-proxima-bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -1px;

        li{
          background: #fff;
          // padding-right: 50px;
          position: relative;
          white-space: nowrap;
          float: none;
          font-size: 16px;
          line-height: 10px;
          border:none;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          
          flex-grow: 1;
          flex-basis: auto;
          margin: -.5em 0;
          padding: 0 1em;
          text-align: center;

          border-left: 2px solid #575656;
          border-radius: 0;

          &:first-child {
            border-left: none;
            padding-left: 0;
          }

          .nav-link{
            border: none;
            color: #ccc;
            cursor: pointer;
            padding: 0.5rem 0.1em;
            margin: .5em;
            font-family: $font-proxima-bold;

          }
          .active{
            border-bottom: 3px solid #000;
            color: #000;
          }
        }
        
        a{
          border-bottom: none;
        }
      }
      .nav{
        flex-wrap: nowrap;
      }
    }
    .btn-icon{
      display: none;
      @media(min-width:768px){
        position: absolute;
        top: -9px;
        display: block;
      }
      
    }
    #goPrev {
      left:-6%;
    }
    #goNext {
      right:0;
    }
  }
}

