#download {
    .download { 
        .download-tile-wrapper {
            height: 100px;
        }

        .download-tile {
            background: $primary; 
            height: auto;
        }        

        .title {
            line-height: 1.4;
        }
    }

}