.fun-fact-title{
    .img-wrapper{
        background: #000;
        border-radius: 100%;
        border: 1px solid;
        height:70px;
        width: 70px;

        .icon-funfact{
            height:30px;
            width: 30px;
        }
    }
}