// * {
// 	box-sizing: inherit;
// }

.pn-ProductNav_Wrapper {
  position: relative;
  padding: 0 11px;
  box-sizing: border-box;
}

.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;

  /* If JS present, let's hide the default scrollbar */
  .js & {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Remove the default scrollbar for WebKit implementations */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }

  /* positioning context for advancers */
  position: relative;
  // Crush the whitespace here
  font-size: 0;
}

.pn-ProductNav_Contents {
  float: left;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.pn-ProductNav_Contents-no-transition {
  transition: none;
}

.pn-ProductNav_Link {
  font-family:  $font-proxima-bold;
  text-decoration: none;
  color: $gray;
  // Reset the font size
  font-size: 16px;
  // font-family: -apple-system, sans-serif;
  display: inline-flex;
  align-items: center;
  min-height: 30px;
  border: 1px solid transparent;
  font-weight: bold;
  padding: 0 14px;
  // & + & {
  // 	border-left-color: #eee;
  // }
  &[aria-selected="true"] {
    color: $primary;
  }

}

.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
  }
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  display: none;
  transition: all 0.2s;
}

.pn-Advancer_Left {
  left: 0;
  [data-overflowing="both"] ~ &,
  [data-overflowing="left"] ~ & {
    @media (min-width: 1024px) {
      display: block !important;
      transition: all 0.2s;
      background: linear-gradient(to right, rgba(255,255,255,1) 63%, rgba(255,255,255,0) 100%)
    }
  }
}

.pn-Advancer_Right {
  right: 0;
  [data-overflowing="both"] ~ &,
  [data-overflowing="right"] ~ & {
    @media (min-width: 1024px) {
      display: block !important;
      transition: all 0.2s;
      background: linear-gradient(to left, rgba(255,255,255,1) 63%, rgba(255,255,255,0) 100%)
    }
  }
}

.pn-Advancer_Icon {
  width: 20px;
  height: 44px;
  fill: #bbb;
}

.pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100px;
  background-color: transparent;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.sticky{
  position: fixed;
  z-index: 9999999999;
  top: 0;
}
