.genre-wrapper{

  .genre-tabs-container{
    width: 100%;

    @media(min-width:768px){
      width: 530px;
    }
    
    @media(min-width:1440px){
      width: 770px;
    }
    .genre-tabs{
      // padding:0 10px;
      padding-left: 2px;
      @media(min-width:768px){
        // padding:0 60px;
        padding-left: 35px;
      }
      
  
      .wrapper{
        overflow-x: auto;
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;

        }
        
        ul.nav-tabs{
          list-style-type: none;
          padding: 0;
          float: left;
          white-space: nowrap;
          border-bottom: none;
          font-family: $font-proxima-bold;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: -1px;
  
          li{
            background: #fff;
            // padding-right: 50px;
            position: relative;
            white-space: nowrap;
            float: none;
            font-size: 16px;
            line-height: 10px;
            border:none;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            
            flex-grow: 1;
            flex-basis: auto;
            margin: -.5em 0;
            padding: 0 .5em;
            text-align: center;
  
            // border-left: 2px solid #575656;
            border-radius: 0;
  
            &:first-child {
              // border-left: none;
              padding-left: 0px;
            }
            &:last-child {
              // border-left: none;
              padding-right: 0px;
            }
  
            .nav-link{
              border: none;
              font-weight: 900;
              text-transform: uppercase;
              color: #ccc;
              cursor: pointer;
              padding: 0.5rem 0.1em;
              margin: .5em;
  
            }
            .active{
              border-bottom: 3px solid #000;
              color: #000;
              transition: color .3s;
            }
          }
          
          a{
            border-bottom: none;
          }
        }
        .nav{
          flex-wrap: nowrap;
        }
      }
      .btn-icon{
        @media(min-width:768px){
          position: absolute;
          top: -10px;
        }
        
      }
      .prev{
        display: none;
      }
      #goBack {
        left:0;
      }
      #goAfter {
        right:16px;
        display: none;
        @media(min-width:768px){
          display: block;
        }
        
      }

      .show-arrow{
        display:none;
        @media(min-width:768px){
          display: block;
        }
      }

    }
  }
}

.genre-text {
  a {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid $primary;

    &:first-child {
      padding-left: 0px; 
    }

    &:last-child {
      border-right: 0px solid $primary;      
    }
  }
}  


