.hero-banner-icon-wrapper {
    padding-bottom: 24px;

    @include media-breakpoint-up(lg) {
        float: left;       
        padding-bottom: 10px; 
    }
}

.hero-banner-icon {
    height: 21px;
    width: 21px
}

.icon-details {
    width: 100%;
    height: 100%
}

.thumbnail-holder-portrait {
    height: 90vh;
}

.thumbnail-holder-landscape {
    height: 100%;
    @include media-breakpoint-up(lg) {
        height: 60vh;
    }
}


.video-modal-wrapper {
  .thumbnail-overlay {
     .video-icon {
         width: 71px;
         height: 71px;

         @include media-breakpoint-up(lg){
            width: 84px;
            height: 84px;             
         }
     }
  }  
}

