.image-gallery-wrapper {
  .slide-count-wrap {
    font-family: $font-proxima-bold;
  }

  a {
    position: absolute;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent;
    right: 4px;
    cursor: pointer;

    @media(min-width: 768px){
      right: 22px;
      margin-top: 18px;      
    }
  }

  .toggle-expand {
    position: absolute; 
    pointer-events: none;
    z-index: 1; 
    right: 15px;
    cursor: pointer;

    @media(min-width: 768px) {
      right: 40px; 
      margin-top: 25px;
    }
  }

  .image-gallery {
    .image-gallery-item {
      position: relative;
    }

    .gallery-img {
      height: 200px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      @media (min-width: 768px) {
        height: 572px;
      }
    }
  }
}

// expand icon 
.expand-wrapper {
  background: $primary;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: color .2s ease-out, background .2s ease-out;

  .expand-icon {
    padding: 10px;
    color: $white;
    font-size: 15px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  // &:hover {
  //   box-shadow: none;
  //   border: 2px solid $primary;
  //   background: $white;
  //   box-shadow: none;
  //   transition: color .2s ease-in, background .2s ease-in;

  //   .expand-icon {
  //     padding: 8px;
  //     color: $primary;
  //   }
  // }
}

// fancybox
.fancybox-container {
  .custom-btn {
    .cust-icon {
      padding: 15px;
      font-size: 15px;
      border: 2px solid $white;
    }
  }

  .fancybox-infobar,
  .fancybox-navigation .fancybox-button,
  .fancybox-toolbar,
  .fancybox-caption {
    opacity: 1;
    visibility: visible;
  }

  .fancybox-toolbar {
    .close {
      opacity: 1;
    }
  }
  
  .fancybox-infobar {
    font-size: 18px;
    font-family: $font-proxima-bold !important;
    color: $white !important;
    top: 29px;
    left: 15px;
    mix-blend-mode: unset !important;

    @media (min-width: 768px) {
      right: 220px;
      top: 30px;
      left: unset;
    }
  }

  .fancybox-navigation .fancybox-button {
    top: 0;
  }

  .fancybox-button--arrow_left,
  .fancybox-button--arrow_right {
    opacity: 1 !important;
  }

  .fancybox-button--arrow_left {
    left: 90px;

    @media (min-width: 768px) {
      right: 131px !important;
      left: unset !important;
    }
  }

  .fancybox-button--arrow_right {
    left: 120px;

    @media (min-width: 768px) {
      right: 100px;
      left: unset;
    }
  }

  .fancybox-button--close {
    right: 18px;
    top: 27px;

    @media (min-width: 768px) {
      right: 40px;
    }

    img {
      height: 25px;

      @media (min-width: 768px) {
        height: 35px;
      }
    }
  }

  .fancybox-slide--image {
    padding: 44px 21px;

    @media (min-width: 768px) {
      padding: 44px 0px;
    }
  }

  .fancybox-caption {
    padding: 75px 21px 40px;

    @media (min-width: 768px) {
      padding: 75px 44px 50px;
    }

    &__body {
      text-align: left;

      @media (min-width: 768px) {
        max-width: 80vw;
        margin: auto;
      }
    }
  }
}
