.img-holder {
    height: 200px;
    object-fit: cover;
    
    @media (min-width: 768px) {
        height: 300px;
    }
}

.img-main-holder {
    height: 200px;
    object-fit: cover;
    
    @media (min-width: 768px) {
        height: unset;
    }  
}