#in-the-series {
    // .col-5{
    //     flex: 0 0 133px;
    //     max-width: 133px;
    //     @media(min-width: 768px) {
    //         flex: 0 0 250px;
    //         max-width: 250px;
    //     }
    // }
    color: #000;
    .series-thumbnail {
        // height: 83px;
        img {
            width: 100%;            
        }

        @media(min-width: 768px) {
            // height: 156px;
        }
    }
    h5.series-title{
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        @media(min-width:768px){
            font-size: 22px;
            line-height: 22px;
        }
    }
    .hyperlink-custom{
        font-family: "Proxima-Nova-Bold" ;
    }
    .hyperlink-text{
        text-transform: uppercase;
    }
}