#in-the-series {
    color: #000;
    .series-thumbnail {
        height: 80px;

        @media(min-width: 768px) {
            height: 150px;
        }
    }
    h5.series-title{
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        @media(min-width:768px){
            font-size: 22px;
            line-height: 22px;
        }
    }
    .hyperlink-custom{
        font-family: "Proxima-Nova-Bold" ;
    }
    .hyperlink-text{
        text-transform: uppercase;
    }
}