// Mobile
.nav-pills {
    .nav-link {
        border: 1px solid $primary;
        border-radius: 0;
        text-align: center;
        width: calc(100vw/4.5)
    }    
}

// Desktop
.multiselect {
  width: 90px;
  color: $primary;
  font-family: $font-proxima-bold;

  &__tags {
    background: $primary;
    border: 0;
    border-radius: 0;
    padding: 8px 40px 0 16px;
  }

  &__single {
    background: $primary;
    color: $white;
    margin-top: 1px;
    margin-bottom: 0;
  }

  &__content-wrapper {
    border: 0;
    border-radius: 0;
  }

  &__element {
    border-left: 1.5px solid $primary;
    border-right: 1.5px solid $primary;
    border-bottom: 1.5px solid $primary;
  }
  
  &__option {
    padding: 12px 20px;
  }

  &__select {
    width: 15px;
    height: 16px;
    right: 21px;
    top: 10px;
    padding: 0;

    &:before {
      display: none;   
    }
  }

  &__option--highlight {
    background: $primary
  }

  &__option--selected {
    background: $gray-400;
    color: $white;
  }
  
  .multiselect__option--selected.multiselect__option--highlight {
    background: $primary
  }
}
