
.loading-screen { 
  width: 100%; 
  height: 100%;
  position: relative;
  background-color: rgba($color: #FFF, $alpha: 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  // display: none;
  
  .throbber-wrap {
    width: 80%; 
    top: 10%;
    margin: 0 auto;
    position: relative;

    @media(min-width: 768px) {
      top: 5%;
      width: 270px; 
    }
  }
}

.throbber {
    width: 100%; 

  &:before {
      content: "";
      width: 0;
      height: 3px;
      border-radius: 3px;
      background: #000;
      position: absolute;
      bottom: -3px;
      z-index: 99999;
      left: 0;
      right: auto;
      animation: loader 1.4s infinite ease-out;
      animation-fill-mode: both;
  }
}
.active-loading{
  visibility: visible;
  opacity: .95;
}

.to-offstage-container{
  position: relative;
  top:13%;

  .to-offstage-icon {
    width: 300px;
    height: auto;

    @media(min-width:768px){
      width: 400px;
    }
  }
}
.loading-message{
  width: 80%;
  text-align: center;
}

.load-gif {
  width: 250px;
  height: auto;
  @media (min-width:768px){
    width: 350px;
    max-height: 300px;
    height: 100%;
  }
}

.to-onstage-container, .to-offstage-container {
  position: relative;
  top: 10%;

  // @media(min-width:768px){
  //   top: unset;
  // }
  .to-offstage-icon, .to-offstage-icon{
    width: 100%;
    height: auto;
    @media (min-width:768px){
      width: 350px;
      max-height: 300px;
      height: 100%;
    }
  }
}

@keyframes loader {
    0% {
        width: 0;
        left: 0;
        right: auto;
        opacity: 1;
      }

    30% {
        width: 100%;
        left: 0;
        right: 0;
        opacity: 1;
      }

    31% {
        width: 100%;
        left: 0;
        right: 0;
        opacity: 1;
    }

    60% {
        width: 0;
        left: 100%;
        right: 0;
        opacity: 1;
    }

    61% {
        width: 0;
        left: 0;
        right: auto;
        opacity: 0;
    }
}
