.nav-bar-wrapper {
  top: 0;
  right: 0;
  width: 100%;
  // background: linear-gradient(rgba(130, 130, 130, 0.5), rgba(255, 255, 255, 0));
  z-index: 50;
  // position: fixed;
  position: absolute;

  @include media-breakpoint-up(lg) {
    position: fixed;
  }

  .left-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    .nav-bar {
      height: 68px;

      @include media-breakpoint-up(lg) {
        height: 75px;
      }
      .hamb {
        position: relative;
        float: left;
        width: 29px;
        height: 40px;
        padding: 0.5%;
        margin: 15px 8px 10px 16px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        z-index: 999;

        @media (min-width: 321px) {
          margin: 15px 0px 10px 20px;
        }
        
        @include media-breakpoint-up(lg) {
          margin: 14px 0px 10px 40px;
          width: 34px;
        }

        #rect1,
        #rect2,
        #rect3 {
          position: relative;
          float: left;
          width: 100%;
          height: 3px;
          background-color: #fff;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }

        .showRect {
          display: block;
          margin: 4px 0 1px 0;
        }

        .menu-text {
          color: #fff;
          font-size: 8px;
          line-height: 10px;
          margin-top: 27px;
          letter-spacing: 1.2px;
          text-align: center;
          font-family: $font-proxima-regular
        }

        &:focus {
          outline: none;
        }
      }

      // .logo-container{
      //     align-items: center;
      //     position: relative;
      //     justify-content: center;

      //     @media(min-width:768px){
      //         justify-content: flex-start;
      //         justify-content: flex-start;
      //         margin-left: 120px;

      //     }
      // }

      // .logo-link{
      //     padding-right: 50px;
      //     @media(min-width:768px){
      //         padding-right: 0;
      //         width: 20%;

      //     }
      //     .logo-wrapper{
      //         margin-right: 20px;
      //         padding-top: 10px;
      //         padding-bottom: 10px;
      //         width: 120px;
      //         @media(min-width:768px){
      //             width: 130px;
      //             height: 70px;
      //             margin-right: 0px;
      //         }

      //         img.logo{
      //             width: 100%;
      //             height: 100%;
      //         }
      //     }
      // }

      .logo-wrapper {
        display: flex;
        // flex-direction: column;
        align-items: center;
        margin-right: 60px;
        padding-top: 18px;
        justify-content: center;

        @include media-breakpoint-up(lg) {
          flex-direction: row;
          align-items: center;
          margin-left: 100px;
          padding-top: 15px;
          justify-content: flex-start;
        }

        .home-logo {
          .logo {
            height: 35px;

            @include media-breakpoint-up(lg) {
              height: 45px;
            }
          }
        }

        .filter-logo {
          margin-left: 10px;

          @media (min-width: 361px) {
            margin-left: 20px;  
          }
          

          @include media-breakpoint-up(lg) {
            padding-left: 36px;
            margin-top: -7px;
            margin-left: 0;
          }

          .logo {
            height: 9px;

            @include media-breakpoint-up(lg) {
              height: 12px;
            }
          }
        }
      }
    }

    .right {
      // background: #fff;
      // height: 100%;
      margin-left: 0;

      .side-nav-wrapper {
        height: 100%;

        .nav-tabs {
          height: 100%;
          .nav-item {
            margin: auto 0;
            .nav-link {
              font-family: $font-proxima-bold;
              font-size: 16px;
              line-height: 16px;
              font-weight: bold;
              color: $gray;
              border: none;
              border-bottom: 3px solid transparent;
              &.active {
                color: $primary;
                border-bottom: 3px solid $primary;
                transition: all 0.2s;
              }
            }
          }
          li:nth-child(1) {
            border-right: 1px solid $gray;
          }
        }
      }
    }
    .hide-sidenav {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    .search {
      .btn-search {
        img.search-icon-mobile {
          display: block;

          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
        img.search-icon {
          display: none;

          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
      }
    }
  }

  .dark-menu-wrapper {
    background: #000 !important;
  }

  .scrolled {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    transition: background-color 200ms linear;
    position: fixed;

    // .logo-wrapper {
    //     flex-direction: unset !important;
    // }

    // .filter-logo {
    //     margin-top: 0 !important;
    //     margin-left: 15px !important;

    //     img {
    //         height: 9px !important;
    //     }
    // }
    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }
}

.mm-wrapper {
  overflow-y: auto;
  position: fixed;
  left: -1px;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  z-index: 999999;
  top: 0;
  width: 240px;
  opacity: 0;
  display: none;
  box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.75);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  hr {
    border: 1.0px solid rgba(0, 0, 0, 0.5);
  }

  .close-btn-x {
    position: relative;
    padding: 0.5%;
    border: none;
    font-size: 35px;
    margin-left: 18px;
    cursor: pointer;
    top: -6px;
    background: none;

    cursor: pointer;
    &:hover {
      color: darken(#fff, 80%);
    }

    &.close-box {
      padding: 6px 14px 9px 14px;
      background-color: #ccc;
      &:hover {
        background-color: darken(#ccc, 10%);
      }
    }
  }
  .mm-content {
    text-transform: uppercase;

    .menu-text {
      margin-bottom: 0;
    }
    .link-wrapper {
      margin: 10px 16px;
      a.menu-link {
        font-size: 16px;
        line-height: 18px;
      }
    }
    .mm-content-item {
      padding-left: 21px;

      ul.nav {
        font-size: 16px;
        list-style-type: none;
        margin-left: 0;

        li.nav-item {
          // margin-bottom: 10px;
          font-size: 16px;
          line-height: 16px;
          padding-left: 0;
          // margin-left: 6px;

          &.active {
            font-family: $font-proxima-bold;
          }
        }
      }
    }

    .social-icon {
      margin-left: 18px;
      margin-top: 1rem;
      margin-bottom: 1rem;

      a.social-link {
        margin-right: 11px;
        img.soc-icon {
          height: 17px;
        }
      }
    }

    // .collapse-head{
    //     // &:before{
    //     //     font-family: 'Glyphicons Halflings';
    //     //     content: "\e114";
    //     //     -webkit-transform: rotate(90deg);
    //     //     -moz-transform: rotate(90deg);
    //     //     transform: rotate(90deg);
    //     //     float: right;
    //     //     transition: all 0.5s;
    //     //     color: #000;
    //     //     font-family: $font-proxima-bold;
    //     // }
    // }

    .collapse-nav {
      .card-custom {
        height: 100px;
        padding-left: 22px;
        .card-item {
          line-height: 30px;
          margin-left: 20px;
        }
      }
    }
  }
}

.active {
  opacity: 1;
  display: block;
}

.second-side-nav {
  background: #fff;
  z-index: 100000;
}

.padding-right-main {
  padding-right:8px !important;
}
