.nav-bar-wrapper{
    top: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(rgba(130, 130, 130, 0.5), rgba(255, 255, 255, 0));
    z-index: 100; 

    @media(min-width:768px){
        position: fixed;
    }
    .nav-bar{
        height: 68px;
        
        @media(min-width: 768px){
            height: 75px;
        }
        .hamb{
            position: relative; 
            float: left;
            width: 37px;
            height: 40px;
            padding: .5%;
            margin: 10px 0px 10px 40px;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            z-index: 999;
            
            #rect1, #rect2, #rect3 {
                position: relative;
                float: left;
                width: 100%;
                height: 3px;
                background-color: #fff;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

            .showRect {
                display: block;
                margin: 4px 0 1px 0;
            }

            .menu-text{
                color: #fff;
                font-size: 8px;
                line-height: 10px;
                margin-top: 26px;
                letter-spacing: 2px;
                text-align: center;
            }
            
            &:focus{
                outline: none;
            }
        }
        .logo-container{
            align-items: center;
            position: relative;
            justify-content: center;
            left: -35px;

            @media(min-width:768px){
                left: 37px;
                justify-content: flex-start;
            }
       
            .logo-wrapper{
                margin: 10px 0;
                .logo-link{
                    img.logo{
                        width:70%;

                        @media(min-width: 768px){
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

    .scrolled{
        background-color: $primary;
        transition: background-color 200ms linear;
    }

    .right{
        background: #fff;
        // height: 100%;
        margin-left: 0;
                
        .side-nav-wrapper{
            height: 100%;

            .nav-tabs{
                height: 100%;
                .nav-item{
                    margin: auto 0;
                    .nav-link{
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 800;
                        color: $gray;
                        border: none;
                        &.active{
                            color: $primary;
                            text-decoration: underline;
                        }
                    }
                }
                li:nth-child(1){
                    border-right: 1px solid $gray;
                }
            }
        }
    }
    .hide-sidenav{
        display:none;

        @media(min-width:768px){
            display: block;
        }
    }
    .search{

        .btn-search{
            img.search-icon-mobile{
                display: block;

                @media(min-width:768px){
                    display: none;
                }
            }
            img.search-icon{
                display: none;

                @media(min-width:769px){
                    display: block;
                }
            }
        }
    }
}

.mm-wrapper{
    position: fixed;
    left: -1px;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    top: 0;
    width: 240px;
    opacity: 0;
    display: none;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition:  all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    .close-btn-x {
        position: relative;
        padding: .5%;
        border: none;
        font-size: 35px;
        margin-left: 18px;
        cursor: pointer;
        top: -6px;
        
        cursor: pointer;
        &:hover {
            color: darken(#fff, 80%);
        }
    
        
        &.close-box {
            padding: 6px 14px 9px 14px;
            background-color: #ccc; 
            &:hover {
                background-color: darken(#ccc, 10%); 
            }
        }
    }
    .mm-content{
        
        p.menu-text{
            font-size: 9px;
            letter-spacing: .4px;
            line-height: 9px;
            padding: 0.5rem 1rem;
            margin-left: 6px;
            font-weight: bold;

        }
        .link-wrapper{
            margin: 10px 0;
            a.menu-link{
                font-size: 9px;
                line-height: 9px;
                padding: 0.5rem 1rem;
                margin-left: 6px;
            }
        }
        

        .mm-content-item{
            

            ul.nav{
                font-size: 1.5rem;
                list-style-type: none;
                margin-left: 0;
                border-bottom: .5px solid rgba(0, 0, 0, .5);

                li.nav-item{
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 14px;
                    padding-left: 0;
                    margin-left: 6px;

                    &.active{
                        font-weight: 800;
                    }
                }
            }

        }

        .social-icon{
            margin-left: 18px;
            margin-top: 1rem;
            margin-bottom:1rem;
            
            a.social-link{
                margin-right: 11px;
                img.soc-icon{
                    height: 20px;
                }
            }
        }
    }
}

.active{
    opacity: 1;
    display: block;
}

.second-side-nav{
    background:#fff;
    z-index: 100000;
}

// Mobile Nav Tabs
.side-nav-wrapper{
    .nav{
        // padding: 5px;
        flex-wrap: nowrap;
    
        @media (min-width:768px){
            flex-wrap: wrap;
        }
    }
    ul.nav-tabs{
        border:none;
        li:nth-child(1){
            border-right: 1px solid $gray;
        }
        .nav-item{
    
            .nav-link{
                font-weight: bold;
                color: $gray;
                border: none;
    
                &.active{
                    color: $primary;
                    font-weight: bold;
                    text-decoration: underline;
    
                }
            }
        }
    }
    .divider{
        width: 90%;
    }
}
