#mini-series {
    padding: 30px 30px; 
    font-size: 14px;
    font-family: "Proxima-Nova-Bold" ;
    color: #000;

    @media(min-width: 768px){ 
        padding: 35px 35px ; 

    }

    .series-img {
        height: 99px;  

        @media(min-width: 768px){ 
            height: 217px;            
        }
    }
    .top-title{
        font-size: 12px !important;
        line-height: 12px;
        text-transform: uppercase;
        @media(min-width: 768px){
            font-size: 14px !important;
            line-height: 14px; 
        }
    }
    .title { 
        line-height: 28px;
        text-transform: uppercase;
        color: #000;
        font-family: "Proxima-Nova-Black" ;

        @media(min-width: 768px){ 
            line-height: 33px;
        }
    }
    .hyperlink-text{
        text-transform: uppercase;
    }
}
.thumbnail-series{
    width: 100%;
    height: auto;
    @media(min-width: 768px){
        width: 363px;
    }
}

