.progress-wrapper{
    position: relative;
    border: none;
    padding: 0;
    height: 10px;

    @media(min-width:768px){
        top: 0;
    }

    .progress-container {
        width: 100%;
        background-color: transparent;
        top: 0;
        left: 0;
        height: 10px;
        display: block;

        .progress-bar {
            background-color: #00a3c9;
            width: 0%;
            display: block;
            height: inherit;
            transition: none;
        }
    }

    .fixedbar {
        position: fixed;
        left: 0px;
        top: 68px;
        z-index: 99;

        @media(min-width: 768px){
            top: 70px;
        }
    }       


    .flat::-webkit-progress-value {
    background-color: #00a3c9;
    }

    .flat::-moz-progress-bar {
    background-color: #00a3c9;
    }
}

