.spinner-load{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner-icon{
        content: "";
        width: 50px;
        height: 50px;
        will-change: transform;
        animation: spin 1s infinite linear;
    
    }
}
@keyframes spin {
 0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
}
100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}