.tabfil-container{
    z-index:9999;
    .tab-filter{
        .filter-bar{
            background: #fff;
            position: relative;
        }
        .stick{
            position: fixed;
            top: 0;
            z-index: 999;
            width: 100%;

            @media(min-width:768px){
                width: calc(100vw / 2 - 9px);
            }
        }
    }
}