.tabfil-container{
    z-index:9999;
    .tab-filter{
        .filter-bar{
            background: #fff;
            position: relative;
        }
       
        .stick{ 
            position: fixed;
            top: 0;
            z-index: 999;
            width: 100%;
            box-shadow: -1px 5px 8px -5px rgba(0, 0, 0, 0.5);

            @include media-breakpoint-up(lg){
                width: calc(100vw / 2);
                // width: calc(100vw / 2 - 9px);
                box-shadow: none;
            }

            .genre-wrapper {
                padding-bottom: 20px;
            }

        }
    }
}