.tab-filter-wrapper{
  width: 90%;
  
  @media(min-width: 768px){
    width:550px;
  }
  .tab-filter {
    .slide-category{
      .slick-list{
        width: 100%;
        margin: 0 30px;
        @media(min-width:768px){
          margin: 0;
        }
      }
      .slick-slide {
        a {
          color: $gray !important;   
        }
      }
    }

    .slick-disabled {
      opacity: 0; 
      transform: all .2s
    }
    
    @media(min-width: 768px){
      width:500px;
      justify-content:space-evenly;
    }
    .tab-filter {
      .slide-category{
        .slick-list{
          width: 100%;
          margin: 0 30px;
          @media(min-width:768px){
            margin: 0;
          }
        }
        .slick-slide {
          a {
            color: #9b9b9b !important;   
          }
        }
      
        img.next-tabs{
          display: none;
          right: -25px;
          top:12px;
        }
        img.prev-tabs{
          left: -25px;
          top:12px;
          padding: 0 5px;
        }
      }
    }
  }
}