.detail-content{

    .page-info{

        &:last-child{
            &:after {
                background: none;
            }
        }
        &:after{
            content: '';
            position: absolute;
            background: #000;
            top: 31.5px;
            width: 2px;
            height: 10px;
            margin-left: 8px;

            @media(min-width:768px){
                top: 8px;
                margin-left: 8px;
            }
        }
    }
}

.page-thumbnail{
    width: 100%;

    @media(min-width:768px) {
        width: 100%;
    }
}

.custom-tag-result {
    display: flex;
    flex-direction: column;
    // height: calc(100vh - 98px);

    @media (min-width:768px) {
        height: calc(100vh - 36px);
    }
}
