.video-carousel-item {
  height: 184px;
  
  @media(min-width: 768px) {
    height: 566px;
  }
}

.video-carousel-nav-wrappper {
  iframe {
    pointer-events: none;
  }

  .slide-count-wrap {
    position: absolute;
    bottom: 1.4%;
    right: 38%;
    font-size: 14px;
    line-height: 12px;
    font-weight: bolder;
    color: $primary;
    letter-spacing: 0.6px;
  }

  /* space between thumbnail*/ 
  /* the slides */
  .slick-slide {
    cursor: pointer;
    margin: 0 10px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -10px;
  }

  .slick-current {
      .thumbnail-overlay {
          background: transparent !important;
          transition: all .5s;
      }
      .video-icon {
          opacity: 0;
          transition: all .5s;
      }
  }

  .thumbnail-wrapper {
    cursor: pointer;
    height: 200px;

    .thumbnail-overlay {
      height: 200px;
      opacity: 0.6;
    }

    .video-thumbnail {
      object-fit: cover;
      height: 200px;
    }
  }
}
