.video-modal-wrapper {
    cursor: pointer
}

#video-modal.modal {
  overflow-y: hidden !important;
}

#video-modal {
  .modal-content {
    background: transparent;
    border: 0px;
    top: -50px;

    @media(min-width: 768px){
      top: unset;
    }
  }

  .modal-header {
      border-bottom: 0px;
      padding: 0 1rem;
  }
  


  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 900px !important;
    }
  }
}

.freeze-page{
  overflow: hidden;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  // pointer-events: none;
}

.close {
  opacity: 1;
  transition: all .2s;
  
  &:hover {
      opacity: 0.75;
      transition: all .2s;
      cursor: pointer;
  }
}