.whats-on{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    .overlay {
        background: $primary;
        opacity: .8;
        height: 375px;
    }
    .content-wrapper{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        
        .subtitle{
            line-height: 16px;
        }

        .description {
            line-height: 22px;
            letter-spacing: .68px;
            @media(min-width:768px){
                line-height: 26px;
            }
        }
    }
}