footer.py-2.bg-primary
    .container-fluid
        .d-flex.justify-content-between 
            div.text-white.text-uppercase.font-10 
                span &copy; 2019 The Esplanade CO LTD 
                span.px-3 | 
                span Data Protection Policy

            div.text-uppercase.font-10 
                a(href='www.esplanade.com').text-white Esplanade.com

