footer.py-2.bg-primary
    .container-fluid
        .row.py-2.py-md-0.text-white.text-uppercase.text-center.text-md-left.font-10.align-items-center
            .col-12.col-md-8.d-md-flex
                .pb-2.pb-md-0 &copy; 2019 The Esplanade CO LTD 
                .d-none.d-md-inline-flex.px-3 | 
                //- br.d-block.d-md-none
                .pb-2.pb-md-0 
                    a.hyperlink-custom.data-protect.text-white(href="") Data Protection Policy

            //- .col.px-5.d-md-none
            //-     hr.bg-white

            .col-12.col-md-4.text-md-right
                a(role="button" href="https://www.esplanade.com/").hyperlink-custom.d-flex.align-items-center.justify-content-center.justify-content-md-end#go-onstage
                    img(src="./assets/microsites/offstage/img/icons/BackTo.svg").pr-2.cursor-pointer
                    .text-white.cursor-pointer Esplanade.com
