header
    .container
        .row
            .nav-bar-wrapper
                .nav-bar
                    button#hamb.hamb
                        #rect1.showRect
                        #rect2.showRect 
                        #rect3.showRect 
                        p.menu-text MENU
                    
        .row
            //- include ../components/mega-menu.pug

