head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X_UA_Compatible" content="ie-edge")

    title Esplanade

    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="https://unpkg.com/vue-line-clamp@1.3.2/dist/vue-line-clamp.js")