header
    .container-fluid
        .nav-bar-wrapper
            .row
                .col-12.col-md-6
                    .nav-bar.left
                        button#hamb.hamb
                            #rect1.showRect
                            #rect2.showRect 
                            #rect3.showRect 
                            p.menu-text MENU
                .col-12.col-md-6
                    .nav-bar.right
                        
                        p.menu-text MENU
                
                    
        .row
            include ../components/mega-menu.pug

