head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X_UA_Compatible" content="ie-edge")

<<<<<<< HEAD
head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X_UA_Compatible" content="ie-edge")

    title My app

    link(
        rel="stylesheet"
        href= "./app.css"
    )
=======
    title My app

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap")
>>>>>>> adb3ea7b38b6fdad7c37aa4a4ad14b56e9a6456a
