head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X_UA_Compatible" content="ie-edge")
    meta(property="site_domain" content="http://dev.esplanade.growthopsapp.com")

    title Esplanade

    link(rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="https://unpkg.com/vue-multiselect@2.1.0")
    